[2011-08-24 09:40] robfletcher opened #4 "Support comments in tape files"

[2011-08-24 09:44] robfletcher opened #6 "Support multipart requests"

[2011-08-24 09:46] robfletcher opened #8 "Evaluate groovy expressions in tape files"

[2011-08-24 09:52] robfletcher opened #10 "Allow tapes to have a TTL"
If a tape has a TTL then recorded interactions should be discarded & re-recorded once the TTL expires.

[2011-08-25 09:55] robfletcher opened #14 "Option to update content-length header"
If content is dynamic or modified by hand then the recorded content-length header may be wrong. With this option on the header would be updated when the tape played back.

[2011-08-31 05:47] robfletcher opened #29 "Keep proxy running"

[2011-08-31 07:54] robfletcher opened #30 "Option to prettify response body"
HTML, XML or JSON responses could all be prettified to make it easier to manually edit tape files

[2011-09-07 07:55] robfletcher opened #33 "Handle If-Modified-Since and If-None-Match headers"
If the client sends such a header and the recorded response has a _Last-Modified_ or _ETag_ header that matches then the proxy should respond with _304_

[2011-09-11 07:05] robfletcher opened #35 "Optionally rewrite timestamp headers"
_Expires_, _Date_, _Last-Modified_ would all be good candidates for updating. Betamax should read the recorded value & offset it against the recorded timestamp then rewrite with the same offset applied to the current timestamp.

[2011-10-16 19:14] robfletcher opened #41 "If an HTTP request is intercepted within the context of another intercepted request the _inner_ one is discarded"
An example would be an end-to-end test connecting to a localhost endpoint that itself makes a connection to a webservice. When each request is intercepted it performs a `seek` call on the tape. The two requests then end up overwriting each other.

[2011-10-17 12:47] robfletcher opened #42 "BetamaxConfig.groovy in `grails-app/conf` is not recognized"

[2012-03-15 07:26] hgoebl opened #51 "Start jetty in external process"
We have very nasty problems using Betamax with Java/Glassfish/Jersey

[code]

The problem: jetty-server uses SLF4J 1.6.x and the fat pig glassfish-embedded-all carries SLF4J 1.5.6.

[code]

I tried to change the order of dependencies but didn't find a solution.
A patched version of glassfish-embedded-all w/o SLF4J didn't work either.

Would it be possible to start jetty in an external process?

[2012-07-31 22:28] robfletcher opened #58 "Make it possible to specify tape names in a Spock where block"

[2012-10-22 05:14] robfletcher opened #71 "Proxy should return a custom HTTP status"
Currently the proxy returns various HTTP statuses but the potential exists for them to conflict with expected statuses in tests. For example the proxy will return _403 FORBIDDEN_ if the tape is not writable and there is no existing recording that matches the request. If the test was actually expecting _403 FORBIDDEN_ because it's checking authentication then this could cause unnecessary confusion.

[2013-02-18 12:21] DeX77 opened #76 "Invalid Tape Error with JUnit replaying tape"
When replaying a tape recorded just fine using JUnit4 from within Eclipse I get:

[code]

The file looks good so far. My guess is some hidden dependency within Betamax not covered by maven.
I had to manually add

[code]

To make it work.

Any ideas?

[2013-02-22 15:38] pfeff opened #77 "Proxy times out when using more than one @Betamax annotated test method in a test class"
If you have a Java project that calls a SOAP service and has more than one @Betamax annotated tests in the same class, the second request will timeout.

I created a test project to demonstrate: https://github.com/pfeff/betamax-demo

Betamax Version: 1.1.2
$ java -version
java version "1.6.0_24"
OpenJDK Runtime Environment (IcedTea6 1.11.8) (rhel-1.35.1.11.8.el5_9-x86_64)
OpenJDK 64-Bit Server VM (

[2013-05-07 22:11] steveims opened #79 "Tapes may not be written for SSL tests"
First test is written; subsequent tapes may not be written.  Seems to depend on whether the SSL connection remains open.

Test case:  https://gist.github.com/steveims/5536572

[2013-05-09 20:05] berinle opened #81 "Handling of bad/corrupt tape files could be better"
When a bad tape exists, betamax panics with the error below.

java.lang.NullPointerException: Cannot invoke method size() on null object
    at co.freeside.betamax.tape.yaml.YamlTapeLoader.loadTape(YamlTapeLoader.groovy:43)
    at co.freeside.betamax.Recorder.insertTape(Recorder.groovy:121)
    at co.freeside.betamax.Recorder.startProxy(Recorder.groovy:200)
    at co.freeside.betamax.Recorder.with

[2013-05-10 05:24] mahileeb opened #82 "UnknownHostException resolving local host name kills Proxy"
When running tests on our build slaves where the local host name cannot be resolved, our tests fail due to an UnknownHostException in the ProxyServer constructor:

java.net.UnknownHostException: ip-10-10-1-151: ip-10-10-1-151
    at java.net.InetAddress.getLocalHost(InetAddress.java:1360)
...
    at co.freeside.betamax.proxy.jetty.SimpleServer.<init>(SimpleServer.groovy:46)
    at co.freeside.beta

[2013-05-21 17:47] berinle opened #83 "Out of memory errors when running on build server"
Running betamax via maven on our build servers is causing outofmemory errors, even after increasing the heap and permgen sizes.

Currently running with this setting JVM arg settings:
-Xmx1536m -XX:MaxPermSize=2048m

     13:35:04,996 DEBUG [org.eclipse.jetty.util.log] Container org.eclipse.jetty.     server.Server@69210267 + SslSelectChannelConnector@0.0.0.0:5556 as connector
     13:35:04,996 DEB

[2013-07-02 05:07] robfletcher opened #86 "Publish binaries to Bintray"

[2013-07-31 14:04] robfletcher opened #88 "Documentation tasks in Gradle build don't compile stylesheet"
Right now it's necessary to manually recompile the stylesheet before building the docs. Would be nice to use the robfletcher/gradle-compass plugin to automate this. That will mean porting the docs to Sass but that should be easy enough.

[2013-07-31 17:06] robfletcher opened #89 "Support a standalone proxy mode"
Currently Betamax is very closely coupled to the JUnit @Rule mechanism. This is fine for JUnit & Spock users but not for TestNG, ScalaTest, etc. Although it's possible to start up the proxy programmatically it's not very convenient. It's also a bit of a code smell that the Recorder class is at once the central entry point for the Betamax API and the JUnit rule implementation. It would make sense t

[2013-08-01 00:43] EchelonFour opened #90 "Cannot intercept ssl traffic in grails tests"
When writing tests that need to tape ssl traffic in grails, Betamax always causes the test to fail.
The following test:
[code]
causes the following exception
[code]
I assume this is because of how the grails classloader works.
This is with Grails 2.2.3

[2013-08-06 06:57] robfletcher opened #91 "Allow a predicate to determine if a response gets saved"
Particularly useful for tests that hoover down HTML pages where you may want to exclude images or other static resources from the tape.

[2013-08-12 06:42] prassan86 opened #95 "It is not recording when i create my own jar using the betamax source code"
Hi,

I have created a sample project and tested it with betamax jar. It was recording the web request and response . But when i create a jar using the Betamax source code it was not recording the request . I was trying to analyze the flow of the betamax source . Please help.

[2013-08-13 10:17] JeraldSebastin opened #96 "Tape was not loading and returns null in insertTape() method"
Hi Rob,

I was trying to creating an application to record and playback web service request and response using betamax. I successfully created the betamax jar using  the source code available in the HEAD branch and  used the jar in my JUNIT App to record and playback the request and response. Betamax is working fine for the first time but  when tried for the second time, I am getting the following

[2013-09-17 05:19] robfletcher opened #101 "Spock extension for better lifecycle management"
I think with a Spock extension it should be possible to keep the proxy running throughout the test suite rather than having to start & stop it between each individual test. Currently that's necessary because JUnit doesn't report the end of a test suite in any way.

[2013-09-30 05:09] robfletcher opened #105 "Consider using Typesafe's config library"
https://github.com/typesafehub/config

Since Groovy will not be a core dependency this might be a good alternative for config handling.

[2013-10-04 08:36] robfletcher opened #108 "TCK style tests"
Some of the test coverage in _betamax-proxy_ is equally applicable to the HTTPClient implementation. It would be a good idea to convert those tests into abstract TCK style tests that have implementations in both the _betamax-proxy_ and _betamax-httpclient_ modules.

These all look like candidates:
- AnnotationSpec
- AnnotationTest
- LocalhostSpec
- SmokeSpec
- BasicAuthSpec
- HttpsSpec
- IgnoreHos

[2013-10-04 15:29] erdi opened #109 "Using BetamaxConfig.groovy and not specifying tapeRoot throws GroovyCastException"
in `configureFromConfig()` first line should probably be changed to `tapeRoot = config.betamax.tapeRoot ?: new File(DEFAULT_TAPE_ROOT)`

[2013-11-12 19:18] dkowis opened #118 "2.0 : POST requests missing body when trying to match against tape"
A sample repo that demonstrates the behavior: https://github.com/dkowis/betmax_wat

When using a custom matcher, I'm seeing problems where the tape will overwrite my single entry.

Debugging output from the custom MatchRule shows that it's actually testing two things, as if there was more than one item in the tape.

I'm not sure what's causing this, but it seems to only evidence itself with a cust

[2013-11-22 17:00] dkowis opened #123 "SNAPSHOT releases of 2.0.0?"
How far away do you think this is? Just curious :)

[2013-11-26 20:24] dkowis opened #124 "bug: If tape name in yaml file doesn't match tape file name..."
.... it writes all interactions to a different tape named by the name of the `name` field in the yaml file.

For example: Tape named "derpTape.yaml"

recorder.start("derpTape")

in the yaml file the name is "name: otherTape"

If interactions are not found, it'll write them all to a new file "otherTape.yaml"

[2014-01-28 23:41] dkowis opened #128 "Content-Length header improvements during replay"
It'd be really handy to have a configurable option to force re-calculation of the `Content-Length` header regardless of what it's set to in the tape. As I'm testing bodies, and mostly I just care about the content itself, not the gritty HTTP details, I'd like to be able to modify my body, or the headers, in the YAML file without having to manually re-calculate the size of the content.

On the othe

[2014-01-31 00:09] dkowis opened #130 "Managed to get a stacktrace to barf out"
All of the requests actually passed, so this is something different, but it's interesting to note that there's a ResourceLeak, so it might be the right spot to look into to resolve some concurrency problems.

[code]

[2014-02-16 19:23] paniko0 opened #131 "Tape is never used on CIs"
Hi guys, I don't know what is happening or if it is a bug but my tests that uses Betamax never runs on CIs (Travis, CircleCI or Wercker). I also realized that Betamax is also failing on Travis (https://travis-ci.org/robfletcher/betamax).

There is a known bug about it? There is a closed issue about Travis #67 but I don't know if it's the same or if it is already in the current version.

[2014-02-20 04:22] sebglazebrook opened #132 "BetamaxHttpClient not included in jar"
Hi,

I'm new to groovy and got excited when I saw this port of VCR.

I need to work without the proxy and according the the homepage I can inject a BetamaxHttpClient into my tests. Unfortunately in the jar that I got through gradle:

'co.freeside:betamax:1.1.2'

doesn't seem to have the BetamaxHttpClient. Have I missed something or has something gone wrong with the building of the jar?

I can see

[2014-05-05 11:52] EwaKowalczuk opened #134 "Tape not used in Grails Spock test."
Hi,

I'm developing Grails 2.3.7 application which I build using maven.
I include Betamax dependency like this:

[code]

The spock test looks like this:

[code]

When the tests is run, it shows:

[code]

But the tape is not _used_ in tests. The service makes normal HTTP call.
It is possible that the URI is different, but then another interaction would be recorded.
I also checked what happens when

[2014-05-05 15:48] gsaqui opened #135 "Gzipped xml tapes are not loading correctly"
[code]

[2014-05-11 23:31] marky-mark opened #136 "proxyserver start address already in use"
Seems that on initialisation

ProxyServer proxyServer = new ProxyServer(recorder);

The proxy server starts on 5555 but isRunning() is false. Stack trace seen at the end occurs if proxyServer.start() is called. Tried without the start() and the mocked response is never played

The code

public class BetaMaxTest {

[code]

//        BetamaxRoutePlanner.configure(client);
        proxyServer.start()

[2014-06-13 00:44] karangb opened #139 "BetamaxHttpsSupport.configure(client) throws exception"
The following line ```BetamaxHttpsSupport.configure(client);``` throws the following exception:

[code]

[2014-06-20 08:33] tddmonkey opened #140 "Support a strict mode for SEQUENTIAL READ ONLY tapes that fail a test if all requests are not matched"
I'm using Betamax for testing stateful endpoints and I need to ensure that my HTTP client sends the exact number of calls specified in my tape.  In order to support this I would need the test to fail if no. of requests made < no. of requests made.

[2014-07-04 23:17] gsaqui opened #141 "Version 1.1.2 - MissingMethodException with Groovy 2.3.3"
When recording a tape for the first time it's throwing a MissingMethodException

[code]

[2014-07-15 11:17] tommpy opened #142 "Update Betamax to use up to date version of Jetty"
Currently, Betamax depends on version 7.3.1.v20110307 of jetty.  This can cause weird errors if some other dependency needs a more up to date version.  Here, for instance it gets evicted by selenium-htmlunit-driver which is brought in via play:

An exception or error caused a run to abort: class org.eclipse.jetty.server.AbstractConnector has interface org.eclipse.jetty.http.HttpBuffers as super cl

[2014-08-06 06:01] rschmitt opened #145 "Betamax fails to build on JDK 8u11"
I'm getting this on JDK 8u11. It would also likely occur on the latest JDK7.

[code]

The underlying problem is this:

https://jira.codehaus.org/browse/GROOVY-6951
https://bugs.openjdk.java.net/browse/JDK-8051012

[2014-08-16 21:45] michaelrice opened #146 "Tape not being created"
I have a grails 2.1.1 app. It uses [yavijava/yavijava](https://github.com/yavijava/yavijava) and uses apache httpclient. This app communicates to a SOAP api over https. When I write a test the test passes but there is no tape being created. I have uploaded the sample grails app here [michaelrice/vcbeta](https://github.com/michaelrice/vcbeta). Could you please let me know what I am doing wrong to g

[2014-10-24 16:46] tdespenza opened #149 "Javadocs"
Where's the javadocs? I can't seem to find it.

[2014-12-30 19:38] gesellix opened #150 "next release date?"
@robfletcher do you have plans when to release the next version? I would need the current code on master to make https proxying work. Thanks in advance!

[2015-01-13 21:26] zacholauson commented on #139
I am also having this issue, are there any updates to this?

[2015-01-16 02:59] icebrg commented on #139
My solution was to downgrade to the last version of HTTPClient with the right api (3.2.1?) and craft Java to do what Betamax was doing that complied and worked. Let me know if you want more details.

Brian

[2015-01-19 03:55] paolodm opened #151 "betamax failing with ClassNotFoundException"
I am getting this:

[code]

To provide context, I am using Dropwizard framework.

[2015-01-22 18:16] tonyghita opened #152 "Non-deterministic java.io.IOException: Stream closed"
I'm running in to an issue where sometimes a `java.io.IOException: Stream closed` is thrown at the start of test. Usually only one test is affected out of the entire suite.

The next time the test is run, the issue disappears.

Here's the stacktrace:

[code]

[2015-01-27 04:42] tonyghita commented on #128
I keep running into this issue in my tests. @dkowis did you ever find a solution?

[2015-01-28 23:22] luisobo commented on #123
I'd would like a snapshot too. What is the most recent snapshot available anyway?

Thanks

[2015-01-29 05:38] monksy opened #153 "MissingMethodException: No signature of method: org.yaml.snakeyaml.Yaml.loadAs()"
I'm developing a Grails 2.4.3 application. I'm using Betamax 1.1.2.

I'm trying to use Betamax to record the sessions and play them back for the tests. I have a class that uses a RestClient object to make the request. [It's in Client as _meetupBase]

Why I'm getting the issue that it can't locate a loadAs function, is just beyond me. The tape for the test was written, and this only happens when I

[2015-01-31 08:25] monksy commented on #153
The issue with this was due to Grails 2.4.4 bringing in snakesyml 1.8.

To fix this:
Defined the SnakeYML dependency.
 build 'org.yaml:snakeyaml:1.10'

[2015-01-31 08:26] #153 closed

[2015-02-11 17:06] anovarini opened #154 "Please add a whitelist/blacklist for headers matcher"
I'd like to have a way to select which of the headers I want to consider or ignore.

In particular, I found this issue related to the user agent.
Apparently, tools like maven add the java version to that, and when the local machine has a different java version than the one on another machine (i.e. the ci server), the match fails.

I'll take a look at that in my spare time, I hope someone had the s

[2015-02-11 21:18] arudge commented on #153
same issue, thanks for posting your resolution.

[2015-03-03 02:53] rschmitt commented on #150
Any updates on this?

[2015-03-10 14:27] fommil opened #155 "regression testing of the REST services?"
(apologies, this is a question rather than a ticket)

It would be incredibly useful to be able to use betamax to record the inputs/outputs of an existing REST service and then use that to regression test the service in the future (with user adaption to allow custom equality at the xml/json level). Is that something one can use betamax for?

Also, are you tied to JSON/XML or do you support arbitrar

[2015-03-13 12:35] mirelon commented on #140
+1

[2015-03-31 09:44] dstrasse opened #156 "NullPointerException when matching not existing body in GET response"
Ma betamax annotation is
@Betamax(tape = "tape-name", match = {MatchRule.path, MatchRule.body, MatchRule.query})

The test setup also contains GET requests with no body which leads to a NPE:

SEVERE: error recording HTTP exchange
java.lang.NullPointerException
    at java.io.ByteArrayInputStream.<init>(ByteArrayInputStream.java:106)
    at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Nat

[2015-04-06 21:13] 67726e commented on #145
@rschmitt Old issue, but upgrading to the lastest JDK (8_40 at the time of writing) has resolved this issue.

[2015-04-16 20:27] amedeiros commented on #150
Will there be a new release? Seems like HTTPS proxy does not work on the current release.

[2015-04-22 14:36] bjhartin commented on #150
@robfletcher We're encountering some issues that I think have been fixed or for which you have pull requests.  Would be nice to have a release.

[2015-05-13 15:43] bjhartin commented on #156
You can work around this by writing your own body matcher that handles nulls, e.g.

[2015-05-18 12:11] ifeins opened #157 "Betamax for Android?"
Is there Android support for using Betamax?
We have several tests in the code base that hit APIs and we want the tests to not rely on staging servers and would love to use a solution like Betamax.

I tried integrating betamax into project by adding the following dependencies:

[code]

However when I try to run a test that uses a betamax tape I get the following error:

[code]

It seems to conflict

[2015-05-21 12:19] hvdnew commented on #136
I've also encountered similar problem, any solution found so far ?

[2015-05-25 09:44] mmazi opened #158 "Set custom match rules"
The `match` property of `@Betamax` should probably be declared as `MatchRule[]` instead of `MatchRules[]`. This, together with #159, completely prevents the user from using custom rules.

(This is about the code in the current HEAD of the master branch.)

[2015-05-25 09:48] mmazi opened #159 "Default match rules are never used"
`ProxyConfiguration.builder().defaultMatchRules()` has no effect. This is due to the fact that Recorder will _always_ use what it reads from `@Betamax(match)` since the latter can never be null (annotation element values can not be null in Java), and it would use default match rules only if it gets null from the annotation element (which is impossible).

This, together with #158, completely preven

[2015-05-27 11:43] hvdnew commented on #141
Im getting the same issue in Java. Any updates on this issue ?

[2015-05-28 15:14] davidwesst opened #160 "Running JUnit Test with @FixMethodOrder(MethodSorters.NAME_ASCENDING) Causes Sequential Tests to Fail"
I've hit and resolved a strange behavior while writing JUnit tests using Java 6 and requiring a downgrade Groovy to 2.2.2 for [compatibility](https://github.com/robfletcher/betamax/issues/141).

I found that when I ran a TestClass with the @FixMethodOrder(MethodSorters.NAME_ASCENDING) annotation on the class, the first Betamax test would run, but the remaining tests would all fail with a NullPoint

[2015-05-28 16:04] davidwesst commented on #160
**UPDATE:** I decided to tinker with it some more, and instead of using the Rule annotation as suggested in the [usage](http://freeside.co/betamax/#usage) of the documentation, I replaced with with an explicit setup and teardown methods (```@Before``` and ```@After```) where I initialize and null the recorder (see below) and the tests now work with the ```@FixMethodOrder``` annotation!

Success! A

[2015-05-30 05:06] restagner commented on #155
@fommil

We have the exact same question for our purposes as that raised in this ticket. Considering it's been 2 months without a response, I'm going to assume that the answer is no.

[2015-06-08 14:30] restagner opened #161 "MissingMethodException thrown in the co.freeside.betamax.tape.yaml.OrderedPropertyComparator class"
I'm attempting to use betamax for the first time, and I'm enoucountering some odd behavior.  When I use betamax in conjunction with groovy-wslite to make RESTful calls, I receive the following exception when betamax attempts to write the information to tape

[code]

I'm testing this against a freely available online REST demo site (http://www.predic8.com/rest-demo.htm) using Spock.  Here is a snip

[2015-06-16 14:53] davidwesst commented on #160
**ANOTHER UPDATE:** It appears that I hit another snag with my solution.

After adding more tests, Betamax stopped recording traffic. Not sure why, but returning the ```@Rule``` annotation and removing the ```@FixMethodOrder(MethodSorters.NAME_ASCENDING)``` seemed to resolve the problem.

I'm convinced it has something to do with the way I have the dependencies setup as per my previous comment, bu

[2015-06-24 19:35] juhlila commented on #157
I'd like to know that too. I tried to use betamax with my android tests but didnt succeed

[2015-08-17 18:37] thilko opened #164 "Link to example tape file on website is broken"
The link (Text place: "An example tape file can be found <here>."):

https://github.com/robfletcher/betamax/blob/master/src/test/resources/betamax/tapes/smoke_spec.yaml

on the Betamax page is broken.

[2015-09-18 00:09] mjallday commented on #150
@robfletcher this project still active?

[2015-09-30 16:23] dadoonet commented on #139
FYI: just hit the same issue with httpclient 4.3.1 which is required by Azure Java SDK. So I can't really use betamax in the azure context for now.

[2015-09-30 16:55] 67726e commented on #139
@dadoonet So it seems like the latest release on maven central is `1.1.2` but the project does have `2.0.0-SNAPSHOT` releases available. I was able to things working using the latter snapshots which [do use the `4.3.1` release of httpclient](https://github.com/robfletcher/betamax/blob/master/betamax.gradle#L35). I did a quick write up [on my blog](http://hexcoder.us/2015/04/11/betamax-testing-with

[2015-09-30 17:01] dadoonet commented on #139
w00t! Fantastic @67726e! Testing it right now. Thanks for the link!

[2015-10-01 05:13] roykachouh commented on #139
@67726e Thanks for the blog post! I'm not sure i follow tho. Are you able to get ssl support working? It looks like your test is expecting an exception.

* I am using the snapshots of betamax
* I forced apache client to version: `force 'org.apache.httpcomponents:httpclient:4.3.1'`
* I tried adding and removing this `BetamaxHttpsSupport.configure(restClient.client);`

All to no avail.

[2015-10-01 12:21] 67726e commented on #139
@roykachouh I can confirm this all works correctly (capturing SSL requests) as it works both on the [sample project](https://github.com/67726e/java8-betamax/blob/master/src/test/java/us.hexcoder.java8.betamax/ExampleTest.java) I have on GitHub and because I'm using this to do integration tests with Stripe at work which _only_ operates over SSL. Also, while the gradle configuration I linked to abov

[2015-10-02 02:50] roykachouh commented on #139
@67726e Thanks for the help! so it turns out it really wasn't a dependency issue. I thought I would try spock, groovy for the stack of this new contract driven testing project that I am working on.

So, I was using all the groovy built in rest/http builder. Looking at your project, I noticed everything was pretty much the same, except you were using Spring's rest client to call out to an endpoint.

[2015-10-09 04:11] nebiros commented on #157
Any advance?, would love to see Betamax on android, <3

[2015-10-27 19:11] alexamster commented on #157
Hit the same issue, any tips would be awesome!

[2015-11-20 05:57] tomdcc commented on #161
Just hit this too, using Groovy 2.4.4 and Betamax 1.1.2.

Weird thing is that `DefaultGroovyMethods` clearly has this method defined:
[code]

Though it IS deprecated...

[2015-11-20 06:07] tomdcc commented on #161
Oops, looks like this is a dupe of #141

[2015-12-15 12:36] blueneogeo commented on #157
same problem here

[2015-12-21 17:24] willis7 commented on #141
I've switched to Groovy 2.2.0 with Betamax version 1.1.2 and still get this error. Given the time since the last commit, I'm guessing its safe to assume this is no longer being maintained.

[2015-12-31 17:11] rompic commented on #150
+1

[2016-01-20 08:53] yoghi commented on #150
+1

[2016-01-23 20:58] rschmitt opened #167 "Betamax needs to be forked"
Since this project is clearly no longer maintained, someone will need to commit to forking it so that development can continue. Any volunteers?

[2016-01-31 01:54] cowboygneox commented on #167
I can take it over, but I'll want to refactor the Groovy dependency out of it. I'll fork it right now, and if someone wants me to work on it, please be sure to create issues/requests/comments.

[2016-01-31 02:04] cowboygneox commented on #167
https://github.com/cowboygneox/betamax

[2016-01-31 02:43] rschmitt commented on #167
Thanks for volunteering!

Interesting, isn't the Groovy dependency just for tests?

[2016-01-31 04:25] cowboygneox commented on #167
Yes but I just tried it with a version newer than 2.2.0 and it threw a fit. Plus, Groovy dependencies on libraries like this make it a potential conflict for those with Groovy already, even in their tests, and it discourages developers who do not like the "swiss army knife" that is Groovy in their classpath at all.

Plus, personally, I think it's easier to develop and test a nice, clean, simple li

[2016-01-31 04:27] cowboygneox commented on #167
@rschmitt Also, if you mean "just for tests" meaning for the tests of this library, that is not true; betamax 1.1.2 requires Groovy in the classpath to function.

[2016-01-31 04:27] rschmitt commented on #167
Just for curiosity, can you paste the output of Groovy's tantrum?

[2016-01-31 04:28] cowboygneox commented on #167
Example stack from my specs2 experiment:

[code]

[2016-01-31 04:30] rschmitt commented on #167
And the output of `java -version`?

[2016-01-31 04:30] cowboygneox commented on #167
@rschmitt

[code]

[2016-01-31 04:43] rschmitt commented on #167
Well, what do you know, Betamax's extensive backlog of patches contains a fix for this exact problem:

https://github.com/robfletcher/betamax/issues/141

Apparently, you have to add a `false` to that method call as the first argument.

[2016-01-31 04:46] cowboygneox commented on #167
@rschmitt I'll start bringing those over. Feel free to migrate it for me if you want to, because I can't do it today :)

[2016-02-11 19:31] robfletcher commented on #167
Hey guys sorry I didn't see this thread earlier. Groovy is no longer a dependency for the code that exists in master. I just never got it quite as far as releasing it. I can only apologize for not paying much attention to this project – life kind of got in the way.

[2016-02-11 20:42] cowboygneox commented on #167
@robfletcher I tried to email you, but I have been doing a ton of work on my fork reviving this project. Please reach put to me to see if you're interested in collaborating.

[2016-02-16 19:45] cowboygneox commented on #167
@robfletcher and I have teamed up and are reviving this project. Expect a new version very soon. Closing...

[2016-02-16 19:45] #167 closed

[2016-02-16 19:50] cowboygneox opened #171 "RequestMethodsSpec is flakey"
Apparently it fails sometimes on Travis. It probably has an external source that should be changed.

https://travis-ci.org/betamaxteam/betamax/builds/109680798

[2016-02-16 19:52] cowboygneox commented on #150
This project is active again, and we have a release coming within the next month or two. I would expect snapshots sooner if you'd like a preview.

[2016-02-16 19:52] #150 closed

[2016-02-16 19:54] cowboygneox commented on #151
Is there a dependency conflict? It's likely your project has a dependency that conflicts with a dependency that Betamax provides. Please recreate this issue with greater details, or wait for the new version that is coming out in a month or two.

[2016-02-16 19:54] #151 closed

[2016-02-16 22:47] gesellix commented on #150
oh yeah :wow: :-)

[2016-02-17 12:17] cowboygneox commented on #128
@dkowis This is actually a feature that I plan on implementing shortly for your exact reasons. `Content-Length` does not need to be a stored header for any reason, and should be calculated on the fly.

[2016-02-17 12:21] cowboygneox commented on #130
We've upgraded our dependencies and dramatically cleaned up our usage of littleproxy in the 2.X release that is coming. Please try the new release (when it's out) and see if you can reproduce.

[2016-02-17 12:21] #130 closed

[2016-02-17 12:23] cowboygneox commented on #131
This is back on Travis-CI. It should be good to go.

[2016-02-17 12:23] #131 closed

[2016-02-17 12:26] cowboygneox commented on #132
The homepage and the docs have been disjoint for a while now. We're working on it, but it's likely the 1.x branch will die and be completely replaced with 2.x. Can you help me understand your need to *not* have the proxy, as the current plan for 2.x is to be proxy driven?

[2016-02-17 12:27] cowboygneox commented on #123
We're working on getting snapshots out this week, but they'll be super rough and a use at your own risk type of thing. If you plan on using them, I would advise communicating with us via Gitter so we can be in close contact while we make breaking changes.

[2016-02-17 12:31] cowboygneox commented on #134
So, we're working hard on 2.x which will be quite different in implementation, but I'll do my best to troubleshoot this is if it is still relevant.

I'm confused by this:

[code]

The `http.proxyHost` should be the betamax proxy. Is that not the case in your test?

It's also likely at this point that you've upgraded your dependencies, and modern HTTP clients use the proxy settings defined by the J

[2016-02-17 12:32] cowboygneox commented on #135
I will take a look at addressing this for 2.x.

[2016-02-17 12:34] cowboygneox commented on #136
If this is still an issue, I'm going to need to see some more source code. Any chance that you can reproduce this on a public repository?

[2016-02-17 12:36] cowboygneox commented on #139
I am 99% confident this is a dependency issue, one that will likely never be addressed on 1.x. We're working on getting all of the dependencies up-to-date on the 2.x release, so please try that out and let me know if you still have conflicts. We have been bouncing around the idea of cross-compiling if necessary, so we'll figure it out as we go.

Please reopen this if it's a problem on 2.x.

[2016-02-17 12:36] #139 closed

[2016-02-17 12:38] cowboygneox commented on #140
@tddmonkey This is a neat idea. If I understand correctly, you would like a feature that would verify that all interactions were used in a tape?

[2016-02-17 12:39] cowboygneox commented on #155
@fommil I have considered this as well, and I think it's an excellent feature suggestion. Will you reach out to me so we can discuss specifics?

[2016-02-17 12:39] cowboygneox commented on #155
Also, we support arbitrary payload types.

[2016-02-17 12:40] tddmonkey commented on #140
That's correct.  I did an implementation back when I raised this but I'm not sure if I ever committed it anywhere.  I can try and dig it out if you like?

[2016-02-17 12:54] cowboygneox commented on #140
@tddmonkey Please do. If nothing else, it'll help direct the acceptance criteria for the feature.

[2016-02-17 12:56] cowboygneox commented on #161
This is a duplicate, and is likely a Groovy version conflict. This is not an issue in the 2.x release.

https://github.com/betamaxteam/betamax/issues/141

[2016-02-17 12:56] #161 closed

[2016-02-17 12:58] cowboygneox commented on #159
@mmazi I have discovered this as well. We expose the ability to configure properties in too many places right now, so we'll have to take some out. My preference is to have it all driven in the test itself, but I feel others may like the `betamax.properties` as well. Your thoughts?

[2016-02-17 12:59] cowboygneox commented on #157
I don't know for sure, but I suspect that the 2.x work will function appropriately on Android due to the reduced dependencies. When we have a release, I invite Android-experts to try it out and we'll fix it if it doesn't work.

[2016-02-17 13:01] cowboygneox commented on #160
@davidwesst I apologize for the issues you have been experiencing. Hopefully the 2.x refactor will make Betamax much easier to use. I would be interested in seeing if this works on the current master. Do you have time to submit a test that asserts this behavior is working (or not working)?

[2016-02-17 13:05] cowboygneox commented on #154
This is an excellent feature request, one that we will have to spend a little more time fleshing out. I don't think this will make the first 2.x release, but I think we can get to it before too long.

[2016-02-17 13:06] cowboygneox commented on #156
@dstrasse Guava conflict? You're probably using a newer version than the old Betamax is. Can you confirm?

[2016-02-17 13:07] cowboygneox commented on #158
@mmazi Is this still an issue? I thought I fixed this...

[2016-02-17 13:08] cowboygneox commented on #152
This is a doozy. I would expect that this is a result of a bad/expired self-signed cert. We have that fixed in 2.x, which should be coming out soon. I'll let you know when I would like you to try again.

[2016-02-17 13:22] fommil commented on #155
I don't really have any specific usecase in mind at the moment, would just be useful in general

[2016-02-17 13:39] mmazi commented on #158
@cowboygneox , thanks for getting back on this. I don't know if this is still an issue. This prevented me from using the current version of Betamax at the time, and resorted to other solutions. I don't work on the project where this happened any more though.

[2016-02-17 13:40] mmazi commented on #159
@cowboygneox thanks for asking, but I'm not using BetaMax currently and I have no suggestions regarding this.

[2016-02-17 14:01] cowboygneox commented on #155
It shouldn't be too hard to create a means that compares an outside source to a recorded interaction. I'll add it as a feature request.

[2016-02-17 14:01] hvdnew commented on #136
Got it working after some workaround.

Working code here..
 [https://github.com/hvdnew/beyonic-java-master/blob/master/src/test/java/com/beyonic/test/PaymentTest.java](url)

[2016-02-17 14:02] cowboygneox commented on #158
@mmazi I'm going to close this. This will certainly be covered in the new release.

[2016-02-17 14:02] #158 closed

[2016-02-17 14:03] cowboygneox commented on #159
@mmazi I'm going to close this. There will be plenty of conversation around configuration in this new reboot.

[2016-02-17 14:03] #159 closed

[2016-02-17 14:05] cowboygneox commented on #136
@hvdnew It looks like you're not creating your own proxy server anymore (which I don't think you were supposed to anyway). The only thing you've done that stands out is the use of `sslOverrider`, which I believe is generally accomplished a different way. You are using the 1.1.2 deployment correct?

[2016-02-17 14:09] hvdnew commented on #136
Yes you are right. its 1.1.2 version.

[2016-02-17 14:11] cowboygneox commented on #136
@hvdnew I've been spending so much time in the refactor that I cannot communicate exactly how it was intended to work, but your use of `sslOverrider` is fine. You're basically doing what a configuration option is supposed to do. You could try setting `betamax.sslEnabled=true` in your `test/resources/betamax.properties` and see if that removes the need for it.

[2016-02-17 14:41] hvdnew commented on #136
Sure. Currently getting some issues in API call itself.. will try and let you know..

[2016-02-20 14:04] cowboygneox commented on #149
The 1.1.2 release javadocs are listed here: http://search.maven.org/remotecontent?filepath=co/freeside/betamax/1.1.2/betamax-1.1.2.pom. We will continue to do support the basic javadocs with new releases, but I wouldn't expect them to be more useful than the documention.

[2016-02-20 14:04] #149 closed

[2016-02-20 14:12] cowboygneox commented on #171
I don't see any reason that this should be flakey, and I'm hoping @robfletcher's work in https://github.com/betamaxteam/betamax/commit/736fca6633aa302186813b4b50a45ac628ae8a7e fixes it. I will reopen if it remains an issue.

[2016-02-20 14:12] #171 closed

[2016-02-20 14:16] cowboygneox commented on #164
Thanks for submitting this. We're in the process of overhauling the documentation. Hopefully we'll have something exciting to show in March.

[2016-02-20 14:16] #164 closed

[2016-02-20 14:20] cowboygneox commented on #51
I apologize that this has gone for so long overlooked. We currently do not have plans to support running Betamax in a forked process. Our most recent efforts have been to simplify, refactor, and reduce dependencies. I would say a fork is a natural evolution as long as we can get it to play nice with Maven, but we're still a ways out from that.

If you're still interested, we should discuss a featu

[2016-02-20 14:20] #51 closed

[2016-02-20 14:41] cowboygneox commented on #146
@michaelrice First off, we are very willing to help, but an issue for troubleshooting the library is best communicated via our new Gitter page (which did not exist when this was posted, so don't worry about it).

Second, from the looks of it, it appears that the HTTPClient you're using isn't being fully configured. Did you try adding in the `BetamaxRoutePlanner.configure(client)` noted in http://b

[2016-02-20 14:41] #146 closed

[2016-02-20 14:43] cowboygneox commented on #109
I suspect this has been addressed in the 2.x refactor. Please let me know if it's still an issue. We have no plans to release another 1.2.x release at this time.

[2016-02-20 14:43] #109 closed

[2016-02-20 14:43] cowboygneox commented on #109
@erdi Also, thank you very much for letting us know! Sorry for the latency, but we won't let it happen again.

[2016-02-20 14:44] cowboygneox commented on #145
@rschmitt I'm closing this since it is no longer an issue. We actively build master via travis-ci using JDK7 and 8.

[2016-02-20 14:44] #145 closed

[2016-02-20 14:45] cowboygneox commented on #142
@tommpy what @robfletcher said, except we actually have a release in the works for late March or April. SNAPSHOTS hopefully sooner. Stay tuned!

[2016-02-20 14:45] #142 closed

[2016-02-20 14:46] erdi commented on #109
Wow, that was some proper latency, @cowboygneox, over two years. Good to see that the project has a new maintainer!

[2016-02-20 14:47] cowboygneox commented on #109
@erdi Life gets in the way sometimes, but now that @robfletcher and I have teamed up, it's less likely that it will get in the way of both of us simultaneously. I love this library, and I see a huge potential for greatness in the Java testing community, and I'm happy to contribute.

Feel free to say hi on our Gitter!

[2016-02-20 14:49] cowboygneox commented on #141
To anyone having this issue, this is certainly a Groovy conflict. Please check your classpath to ensure that you are using the correct version of Groovy.

Also, the 2.x branch coming out soon won't have any dependency on Groovy, so that should solve all of these problems ONCE AND FOR ALL!!!

[2016-02-20 14:49] #141 closed

[2016-02-20 14:51] cowboygneox commented on #123
Ok, I lied, it might be early March since we're blocked on getting access, but trust me that SNAPSHOTs are our number 1 priority!

[2016-02-20 16:34] cowboygneox commented on #90
I would expect this is not something we're going to fix in the 1.x version, but this should be functional in th e coming 2.x version. Please reopen if this is not the case.

[2016-02-20 16:34] #90 closed

[2016-02-20 16:36] cowboygneox commented on #42
I took out the grails example and will recreate it from scratch.

[2016-02-20 16:36] #42 closed

[2016-02-20 16:37] cowboygneox commented on #76
Please try the 2.x version that comes out soon and reopen if it's an issue. I believe we have addressed this issue in the Java refactor.

[2016-02-20 16:37] #76 closed

[2016-02-20 16:37] gsaqui commented on #141
Looking forward to 2.0
On Sat, Feb 20, 2016 at 06:49 Sean Freitag <notifications@github.com> wrote:

[2016-02-20 16:40] cowboygneox commented on #77
Are the tests running in parallel?

[2016-02-20 16:42] dkowis commented on #128
It could be useful to override the content-length header so that its invalid if I wished to test things that way. I'd like for it to remain an option of sorts, along with printing the warning that "Hey your content length is invalid, but you told me to do this, so I'm doing it." Perhaps if it's left out of the recording it'll be automatically calculated, but if I put it into the recording it'll us

[2016-02-20 16:46] cowboygneox commented on #128
@dkowis how does this sound:

1. Do not set `Content-Length` by default in the tape
2. If it is set explicitly (the tape was doctored) and the length does not match that of the payload, we log it as `INFO` or `WARN`.

Thoughts?

[2016-02-20 16:46] cowboygneox commented on #128
Even just 2. would help a lot. It's tough as hell to debug an instance where `Content-Length` is not calculated correctly.

[2016-02-20 16:47] dkowis commented on #128
:+1: Sounds good to me. By default you get sane behavior, and you have the opportunity to muck with the thing if you want to test bad behavior against your application easily. I like it.

[2016-02-20 16:48] cowboygneox commented on #128
@dkowis Especially because if we obey the `Content-Length` specified by the original request, the recorded body payload can only be at most as long as specified. We probably should warn when the server specifies a `Content-Length` that we don't agree with.

[2016-02-20 16:53] cowboygneox commented on #79
@steveims We have stopped using Jetty to solve this issue. Can you look into the current master and see if you believe it's still an issue?

[2016-02-20 16:55] cowboygneox commented on #83
I don't believe this is a relevant issue anymore due to the fact that we are using Netty and not Jetty. We'll keep an eye out for memory issues going forward.

[2016-02-20 16:55] #83 closed

[2016-02-20 17:03] tonyghita commented on #141
@cowboygneox thanks for taking the reigns on this project!

[2016-02-20 17:18] willis7 commented on #141
:+1:

[2016-02-21 09:24] xSAVIKx opened #172 "New release date ?"
Hi.
I think that your project is extremely helpful, so I want to ask when the new 2.* version of betamax will be released ? And what about maven central, are you planning to publish it there ?
And one more question: is releasing will take a while, should I use 1.* now and will it be easy to migrate from 1.* to 2.* in future ?

Thanks in advance for your answers :-)

[2016-02-21 15:47] cowboygneox commented on #172
1. We will have a beta in March, but at the very minimum SNAPSHOTS. We've been refactoring and fixing a number of issues that are necessary in order for this library to be effective going forward.
2. [Bintray](https://bintray.com/bintray/jcenter) will be our primary deployment source (though we'll probably want to support others too).
3. We will have a migration guide of some sorts, but if you wan

[2016-02-21 15:47] #172 closed

[2016-02-24 09:29] xSAVIKx opened #173 "Filtering of sensitive data"
Hi.
I've tried to find any way to filter sensitive data (like API keys), but have no luck.
Do you have anything like Rubys [VCR sensitive data filtering](https://www.relishapp.com/vcr/vcr/docs/configuration/filter-sensitive-data) ?
If no, I think it's must-have feature :-)

[2016-02-25 15:59] pledbrook opened #174 "Allow users to configure authentication on the underlying proxy"
The underlying LittleProxy supports authentication through the _Proxy-Authentication_ and _Proxy-Authorization_ headers. You my wonder why this is relevant to Betamax. In my particular case, my project needs to support configurable proxies so that users can utilise my tool from behind a proxy. Since I'm already using Betamax in my integration tests, the proxy behaviour is also being tested.

One s

[2016-02-25 17:16] pledbrook commented on #174
From @robfletcher on Twitter:

I'm including it here because Twitter's not the best medium for discussing these things :smile: I'm reluctant to run a whole other proxy and chain the two together simply to test whether the connection settings are handled correctly. That seems to be the cause of proxy-based issues, since the underlying behaviour of the proxy is handled by the JVM's networking stack.

[2016-02-25 22:00] xSAVIKx opened #175 "Handshake failure"
Hi, I'm trying to use betamax 2.0-SNAPSHOT and for the given spock test:
[code]
I receive the following stacktrace with handshake failure:
[code]

Do you have any ideas what could be the reason ?
Without setting proxy directly on client creation Betamax just do nothing.

[2016-02-28 10:47] pledbrook opened #176 "Make `Recorder` a TestRule if possible"
The `Recorder` class currently implements `MethodRule` which means it can't be used with `@ClassRule`. If there is no reason that the recorder can't be set to run for the duration of the test case (not just each individual test), then `Recorder` should implement `TestRule` instead (which can be used for both `@Before`/`@After` and `@BeforeClass`/`@AfterClass`).

[2016-02-28 14:10] pledbrook commented on #174
As a follow up to this, I managed to get my own LittleProxy instance running in front of Betamax, but it was a bit fiddly to ensure all the configuration was correct. I still think there might be value in adding this feature to Betamax, but it's not critical.

[2016-03-01 14:57] cowboygneox commented on #173
@xSAVIKx I agree we should come up with a way to do that, but is editing the tape not an option right now?

[2016-03-01 14:59] cowboygneox commented on #174
@pledbrook I don't think this is asking for a lot, but I think it might have to wait for a bit for us to stabilize the existing 2.0 release. I would need your help to ensure that we can write some sort of test to capture this behavior. Any idea for how we can recreate this issue with an automated test?

[2016-03-01 15:01] cowboygneox commented on #175
@xSAVIKx I'll look into this. I'm not sure what the issue is right now, but I can take what you've given me and go with it.

[2016-03-01 15:03] cowboygneox commented on #176
@pledbrook I don't see any reason we can't have **both** right? Since the proxy is expensive to launch, but loading the tape is cheap, I would actually like to see a time when we launch the proxy per test class/file or maybe per JVM. I think that removing `MethodRule` will be part of that goal. Is this a blocker for the short term, or is this more of a feature request?

[2016-03-01 15:22] mirelon opened #177 "Simulate faults like delays, connection refused, ..."
Something like http://wiremock.org/simulating-faults.html

[2016-03-01 15:37] xSAVIKx commented on #175
@cowboygneox thanks.

[2016-03-01 15:41] xSAVIKx commented on #173
The problem is, that, for example, if you've got some API key that will be used in request query (like http://someurl/search?apiKey=someUniqueKey) it'll be saved in tape as it was requested and if you filter it on your own (just remove from tape) there won't be possibility to run this tape again without editing it again (to fill key).
As I understand, VCR have some filtering mechanism that allows

[2016-03-01 15:56] pledbrook commented on #176
I can still run the proxy per test, so it's not a blocker. Not sure what you're referring to by having "both", but `TestRule` means you can use per test or per class. Per JVM is independent of rules probably, although I'm not certain. That's something that probably needs to be configured at the build level.

[2016-03-01 16:02] pledbrook commented on #174
[This test case from Lazybones](https://github.com/pledbrook/lazybones/commit/359c1f8b6ad1a3d51d0621105a21bf101508102d#diff-5b686fa89ece151982561f56cea76de5R14) may help. In addition, I was going to duplicate `IgnoreHostsSpec` in the _betamax-tests_ project. Testing this feature simply means starting the proxy server with a different configuration and verifying that 407 is returned when credential

[2016-03-01 16:28] pledbrook commented on #176
I've just noticed that `RecorderRule` in _master_ does implement `TestRule`. I only looked at the _1.1.2_ tag before raising this issue. I can close this or leave it open to track the per-VM feature request.

[2016-03-01 16:29] cowboygneox commented on #176
@pledbrook I'm glad you looked. That must've been something that @robfletcher did and I didn't notice. Let's close this.

[2016-03-01 16:29] #176 closed

[2016-03-02 08:43] pledbrook commented on #174
Hmmm...I see that the proxy system properties are overridden by `ProxyOverrider`. This isn't good for me because I'm running another proxy in front of Betamax. I imagine that my custom proxy will be bypassed if/when I upgrade to Betamax 2.

Should Betamax really be overriding the proxy settings if they're already set? I think at the very least, Betamax needs to provide an option to disable the aut

[2016-03-02 13:03] cowboygneox commented on #174
What I think we need to do is have LittleProxy proxy to the original proxy. Example: you set the proxy first, fire up Betamax, Betamax stores the original proxy settings (your settings), and then Betamax forwards to LittleProxy, which then forwards the request to the original proxy (your proxy). Does that make sense?

[2016-03-02 15:24] pledbrook commented on #174
I think it's hard to know what those proxy settings might be for. I'm pretty sure I want my authenticating proxy to sit in front of Betamax. Betamax is there to imitate the remote HTTP server, so on that basis, I feel it should be at the end of the chain.

[2016-03-02 15:44] cowboygneox commented on #174
@pledbrook Oh so I have the order backwards? Hmmm...I'll need to ponder that a bit... I guess that will ultimately mean that you'll have to fire up your proxy _after_ Betamax has started, so in a JUnit test, it will be after the @Rule has been made active.

[2016-03-02 15:53] pledbrook commented on #174
Are you OK with moving this to a new issue? Although loosely connected to the enhancement I raised here, I think the proxy overrider deserves its own discussion/issue as something separate.

[2016-03-02 16:18] cowboygneox commented on #174
@pledbrook Do I have the right understanding of your problem? If so, either you or I can make a feature request and explain the path forward.

[2016-03-03 10:03] pledbrook commented on #174
@cowboygneox I'm not sure. I don't think the start order is relevant, except with regard to configuring the target port. The core issue is that Betamax overrides the client-side proxy settings. This is fine as long as the test wants requests to go through Betamax first, but it's a problem if those requests should hit a different proxy server first.

My expectation is that there will be no proxy co

[2016-03-03 10:09] pledbrook commented on #174
As an addendum, it appears there's already a test for already configured proxies: `PreExistingProxySpec`.

[2016-03-04 09:37] pledbrook commented on #177
I don't speak for the core developers, but I consider this a significant expansion of scope for Betamax. The library would have to introduce some way of effectively defining mock behaviour. I'd prefer Betamax to interoperate with Wiremock and MockServer rather than duplicate their behaviour.

One possible option is to treat the underlying LittleProxy implementation as a pluggable platform for whic

[2016-03-04 16:48] cowboygneox commented on #177
@pledbrook The configuration concept was supposed to provide that, but I still think we're a ways from it. I think we're still a pretty far ways out from implementing anything like Wiremock, especially when Wiremock already does it.

[2016-03-04 18:55] mirelon opened #179 "Use ProxyConfiguration by default"
Here: https://github.com/betamaxteam/betamax/blob/master/betamax-core/src/main/java/software/betamax/Recorder.java#L38

is the default creation of Recorder. The Configuration, which is built, is not added as a listener. I propose that the ProxyConfiguration should be used here as a default. Then users are not required to explicitly specify ProxyConfiguration. (otherwise they spend log time debuggi

[2016-03-05 18:26] cowboygneox commented on #179
I will consider this today. I think you're right.

[2016-03-05 19:24] cowboygneox opened #181 "IntelliJ IDEA doesn't like the tape format"
The YAML plugin for IntelliJ seems pissed at the leading `!tape` in our file. We should consider taking that out.

[2016-03-05 19:53] cowboygneox commented on #181
Closing because this is IntelliJ, not YAML. https://github.com/vermut/intellij-ansible/issues/38

[2016-03-05 19:53] #181 closed

[2016-03-06 02:50] cowboygneox commented on #179
@mirelon I agree that the proxy should be the default, but I don't think this is the fix we want. I already am not a fan of the `Configuration` path we're going down, mostly because it implies that we can replace it with some other configuration, which is not true. I think we need to step up and consider a change to the `Configuration` idea altogether. My initial thought is to have something like

[2016-03-06 17:01] cowboygneox commented on #174
@pledbrook I'm going to move the conversation into another issue like you suggested.

[2016-03-06 17:01] #174 closed

[2016-03-06 17:02] cowboygneox opened #182 "Allow a configured proxy to come before Betamax's proxy"
Conversation began on https://github.com/betamaxteam/betamax/issues/174.

If I'm capturing @pledbrook's request, he requests that we offer an additional capability to allow configuration of the Betamax proxy after an existing proxy, rather than before (which is the current functionality).

[2016-03-06 17:06] cowboygneox commented on #182
@pledbrook I see your argument that the proxy should come first prior to Betamax since Betamax is supposed to be a MITM for the "remote server". However, I'm wondering if the order is irrelevant? It could be argued that Betamax is just the first hop, not the last one, but even so, it creates the same interaction either way. Can you help me understand what difference we would see in behavior if the

[2016-03-06 17:06] cowboygneox commented on #174
Closing this because @pledbrook's merge request to address this issue was merged.

[2016-03-06 17:59] cowboygneox commented on #173
@xSAVIKx it seems reasonable to me that the tape should have some kind of variable syntax that you can supply. I will likely just reproduce what VCR did: https://www.relishapp.com/vcr/vcr/docs/configuration/filter-sensitive-data

[2016-03-06 18:05] cowboygneox commented on #175
@xSAVIKx from the looks of things, you're using an older SNAPSHOT than what master currently has. I'm assuming you built the SNAPSHOT locally, since we haven't actually put the SNAPSHOT on any maven distribution yet. Since we refactored the package name, I fixed a lot of the SSL issues the repo had. You should pull master again and rebuild with `./gradlew publishToMavenLocal` and let me know if yo

[2016-03-06 18:08] cowboygneox commented on #175
@xSAVIKx Also, you have to configure your proxy to use the Proxy. If you're using the 4.x version of Apache's HttpClient, then you can build it like this: `HttpClientBuilder.create().useSystemProperties().build()`.

[2016-03-06 18:15] cowboygneox commented on #177
I think that recording the time it took to round trip to the server (thus making it editable) will cover a lot of cases. The only thing Betamax is not well equipped for are any connection-based exception; Betamax only supports responses from the server. Making those responses be 4XX or 5XX is as easy as editing the tape, though. I will make a feature request for recording the duration, but as for

[2016-03-06 18:19] cowboygneox opened #183 "Allow the ability to record and simulate the duration from the external host"
Tests should infrequently test using actual durations since it makes them very slow, but there are cases where you might want to make a couple stress-tests that either simulate expected behavior, or perhaps an edited time to test your timeout behavior.

I suggest that we record the duration it originally took in the tape, and offer an option in the annotations to  enable recorded timing (which wil

[2016-03-06 18:19] cowboygneox commented on #183
Thanks to @mirelon for inspiring this.

[2016-03-06 18:32] cowboygneox commented on #160
@davidwesst I'm going to close this due to inactivity. Please feel free to reopen if you would like.

[2016-03-06 18:32] #160 closed

[2016-03-06 18:36] cowboygneox commented on #8
Since we removed Groovy, this is no longer possible.

[2016-03-06 18:36] #8 closed

[2016-03-07 08:11] pledbrook commented on #182
@cowboygneox My understanding is that Betamax is a effectively a terminal proxy when in replay mode. Any proxies after Betamax will see the first request, but no subsequent ones. I'm not even sure that Betamax can record and replay the challenge/response for proxy authentication. I can't imagine it working with my current setup if the dedicated authenticating proxy were to come after Betamax.

Mor

[2016-03-07 08:20] mirelon commented on #179
I have the same thoughts, but I would do all of this under the hood (do not put this burder on the user). The user want to see only `new Recorder` and if he wants to customize it, then he will look for the other constructor. So in the meantime I would place the ProxyConfiguration there (for the 2.0 snapshots).

As for the builder pattern - I would consider Scala with optional named parameters and

[2016-03-09 09:23] xSAVIKx commented on #175
@cowboygneox Actually, I've used snapshot from [oss-snapshot-local](http://oss.jfrog.org/oss-snapshot-local/:).
You can check my [gradle.build
](https://github.com/xSAVIKx/twingly-search-api-java/blob/a07a4995912e74fc66687efca1ac3e5ecbc32bc0/build.gradle)

[2016-03-09 17:43] cowboygneox commented on #175
@xSAVIKx It's the wrong groupId; software.betamax is the correct one. Please see the [alpha release](https://github.com/betamaxteam/betamax/releases/tag/2.0.0-alpha-1).

[2016-03-09 17:43] cowboygneox commented on #175
We haven't used @robfletcher's domain in a while now.

[2016-03-11 00:46] ysb33r opened #184 "Configuration.defaultMode is not honoured in 2.0.0-alpha1"
I was just trying out the 2.0.0-alpha1 today and I suspect `Configuration.defaultMode` is not honoured.

Here is is some stripped down code from a Spock test

[code]

That always fails with a `tape is read-only` error.

[2016-03-11 13:12] ysb33r commented on #184
I speak under correction, but I think this is the issue.

In the `Betamax` annotation, the default for mode is [READ_ONLY](https://github.com/betamaxteam/betamax/blob/master/betamax-junit/src/main/java/software/betamax/junit/Betamax.java#L33).

hen in the [RecorderRule](https://github.com/betamaxteam/betamax/blob/master/betamax-junit/src/main/java/software/betamax/junit/RecorderRule.java#L62), the

[2016-03-11 21:19] cowboygneox commented on #184
I'll look at this over the weekend. I wasn't surprised that this may be an issue. Thanks for letting us know!

[2016-03-12 07:23] xSAVIKx commented on #175
@cowboygneox Hi.
I've tried alpha release and I think this issue should be closed now, thanks for your time.
And about groupId - I've tried info from here: [betamax with java 8](http://hexcoder.us/2015/04/11/betamax-testing-with-java-8/).

And also one more question: is betamax compiled with java 8 ? Cause I'm now having troubles running it under java 7, but everything is OK with java 8.

[2016-03-13 20:01] xSAVIKx opened #185 "Missing Java7 support"
Hi.
I've noticed, that you're uploading archives from java8 build, but that gets to Unsupported java version:

Like I've received during my tests for Java7 jdks: [travis-ci build](https://travis-ci.org/xSAVIKx/twingly-search-api-java/jobs/115517111)

Could you please publish release compiled with Java7, so that it could be run on java7 (as well as on java8) ?

[2016-03-14 00:46] cowboygneox commented on #182
@pledbrook I'm failing to understand why you can't set your proxy first in the system properties, and then enable Betamax. Won't that create the desired effect?

[2016-03-14 00:49] #179 closed

[2016-03-14 01:01] cowboygneox commented on #175
@xSAVIKx it is compiled with Java8, but it's supposed to be backwards compatible. I'll fix that.

[2016-03-14 01:02] cowboygneox opened #186 "2.0.0-SNAPSHOT is not backwards compatible with Java 6/7"
Found in https://github.com/betamaxteam/betamax/issues/175.

[2016-03-14 01:03] cowboygneox commented on #175
@xSAVIKx I'm closing this. The bug you found is now captured in #186.

[2016-03-14 01:03] #175 closed

[2016-03-14 01:32] cowboygneox commented on #186
Java6 support is deprecated and likely will not be something we support anytime soon (or ever). However, JDK7 support should be fixed in 2.0.0-SNAPSHOT.

[2016-03-14 01:32] #186 closed

[2016-03-14 01:32] cowboygneox commented on #186
https://github.com/betamaxteam/betamax/commit/1c01feabfbbcada70a0509bf4c29e2786ea4e45a

[2016-03-14 05:45] xSAVIKx commented on #175
So, please, close also: #185 when it'll be fixed.

[2016-03-14 08:08] xSAVIKx commented on #185
Closed with #186

[2016-03-14 08:08] #185 closed

[2016-03-14 11:57] cowboygneox commented on #185
@xSAVIKx Thanks for closing this.

[2016-03-14 13:54] pledbrook commented on #182
I doubt it, as Betamax overrides those system properties. When I have a moment, I'll give the beta release a try in case it does work. Even if that were the case, I'm not in favour of Betamax replacing those properties without some way for the user to disable or otherwise control that behaviour.

[2016-03-14 17:43] cowboygneox commented on #182
@pledbrook Yes but you can override them _after_ Betamax does too, can't you? You just have to make sure your proxy points at Betamax.

[2016-03-14 17:44] cowboygneox opened #187 "Add sources jar to the deployment"
Apparently sources are not on Maven Central, and I want them to be.

[2016-03-15 07:50] pledbrook commented on #182
@cowboygneox This is proving difficult to test because I no longer reliably have access to the Betamax proxy settings (available via `recorder.proxy.address` in the 1.x series). I could force the Betamax proxy to run on a particular host and port, but then I run into potential port conflicts.

In addition, I don't see how one can reliably determine the order that rules and test setup methods run i

[2016-03-15 08:10] pledbrook commented on #179
Did this fix go into the alpha-1 release? It seems that the `http.proxyPort` property isn't being set unless I initialise the recorder rule with an explicit `ProxyConfiguration` like so:

    @Rule RecorderRule recorder = new RecorderRule(ProxyConfiguration.builder().build())

[2016-03-15 09:45] pledbrook commented on #182
OK, I have tested this, although it relies heavily on the order that my `setup()` method runs relative to the `RecorderRule`. I don't know if JUnit behaves the same as Spock in this regard.

Anyway, this does work as `setup()` runs after the Betamax proxy server starts, so I can read the proxy settings from the corresponding system properties and override them myself. It's a bit ugly, but I don't

[2016-03-15 09:54] pledbrook opened #188 "`TapeMode.READ_ONLY` seems to have no effect"
When I change the tape mode to READ_ONLY, unknown requests still go through to the target server. The problem seems to be in [`BetamaxFilters`](https://github.com/betamaxteam/betamax/blob/master/betamax-core/src/main/java/software/betamax/proxy/BetamaxFilters.java#L139), which only returns a 403 if there is no tape specified for the test. I'd argue that `onRequestIntercepted()` needs to check whet

[2016-03-15 10:03] pledbrook commented on #188
I'm not sure what the behaviour should be here. The user guide says that Betamax returns a 403 response, but the test checks for a `NonWritableTapeException`.

[2016-03-15 10:39] pledbrook opened #189 "SSL support may not be working"
I have Betamax proxying a bunch of SSL requests, which were working with 1.1.2. Now I'm getting the following error with the alpha-1 release of 2.0:

[code]

I'm not sure what the intended behaviour is for Betamax. Dynamically creating the certificate for the requested domain? Or creating a 'catch-all' certificate in which the domain doesn't matter? I'm not even sure the latter is possible.

Anywa

[2016-03-15 10:50] pledbrook commented on #184
I suspect this is a problem with the match rules too. The global and recorder configurations will never kick  in, as you always(?) have a `Betamax` annotation. I'm not sure that any of the annotation's fields should have default values.

[2016-03-15 10:53] pledbrook commented on #189
On the Betamax side, the error looks like this:

    SEVERE: (NEGOTIATING_CONNECT) [id: 0x78c6897e, /192.168.1.104:55491 :> 0.0.0.0/0.0.0.0:5555]: Caught an exception on ClientToProxyConnection
    io.netty.handler.codec.DecoderException: javax.net.ssl.SSLException: Received fatal alert: certificate_unknown
    	at io.netty.handler.codec.ByteToMessageDecoder.callDecode(ByteToMessageDecoder.java:28

[2016-03-15 13:53] cowboygneox opened #190 "Writeup detailed documentation on how to use SSL testing"
Even I am struggling to get it to be straight forward, so a good walk through on http://betamax.software would be a much needed addition.

[2016-03-15 14:31] pledbrook opened #191 "Add upgrade notes for 1.x -> 2"
These are the things I've noticed so far:
- Add `betamax-junit` as a dependency if using `@Betamax` and `@Rule`
- Update import packages
- Replace `Recorder` with `RecorderRule` (if using rules)
- `Recorder.getProxy()` is no longer available - you'll need to  read the proxy settings from the standard JVM proxy system properties (Betamax sets these when it starts the proxy recorder)
- BetamaxConfig

[2016-03-15 14:32] pledbrook commented on #190
I'd be interested to hear from @robfletcher what, if anything, has changed here. It seemed to work fine with 1.x.

[2016-03-15 14:50] cowboygneox commented on #190
IMO, the 1.x documentation didn't appropriately cover non-supported clients, plus we didn't use littleproxy, so it's changed a lot since then.

[2016-03-15 17:05] pledbrook commented on #190
It may not have been clear, but I was really just wondering whether it's intentional that 2.x doesn't seem to be a drop-in replacement for 1.x as far as the SSL support goes (see #189). I would always :+1: improvements to the docs!

[2016-03-16 11:26] pledbrook commented on #189
It looks like SSL certificate spoofing isn't implemented directly in LittleProxy right now. That's at least what I infer from [this LittleProxy issue](https://github.com/adamfisk/LittleProxy/issues/184). That discussion thread does point at a couple of (non-standard) options to do what we want. There is also an [outstanding pull request](https://github.com/adamfisk/LittleProxy/pull/230) that proba

[2016-03-19 15:18] cowboygneox commented on #189
@pledbrook As of right now, you have to disable hostname checking on your client. We have a number of examples of how to do that with apache httpclient. We may not be able to do this automatically, but I'll keep looking into a means to do this; it probably means we'll have to generate certs as necessary, but that's a generous scope increase.

[2016-03-19 15:20] cowboygneox commented on #188
@pledbrook Anytime I turn off a test, I get burned. This is something I've been aware of and have been trying to address, but upgrading littleproxy has fixed many things, but has broken this. However, fixing this shouldn't be that hard of a problem. If you have some time to fix the ignored test, that would help me a lot.

[2016-03-19 15:24] cowboygneox commented on #184
@pledbrook @ysb33r The many different ways to set the tapeMode is a problem anyway. There should be a `running` configuration (which almost always is READ_ONLY), and then there is a `writing test` configuration, which probably should be overwritten via java properties and _not_ checked into git. That way, a developer is free to write, but CI will enforce that the proper tape is checked in. Thought

[2016-03-19 15:24] cowboygneox commented on #184
In the mean time, I'll see if I can fix this with something quick and put it into the SNAPSHOT.

[2016-03-19 18:50] cowboygneox opened #194 "Inform the user when Betamax is enabled but no usage of the tape is received"
To make it easier to know when Betamax is appropriately configured for a given client, the user should receive logging feedback and perhaps an exception when Betamax isn't used during a test.

[2016-03-20 08:53] pledbrook commented on #184
I like the idea, but I think this can be simplified to:

* Default behaviour is `READ_ONLY`
* The other modes remain configurable via existing mechanisms (`ProxyConfiguration` and `@Betamax`)
* A `betamax.allow.write` or similar system property automatically overrides `READ_ONLY/SEQUENTIAL` to the corresponding write versions. It ignores any tests that are already marked as write.

The only differ

[2016-03-20 08:56] pledbrook commented on #189
@cowboygneox Isn't that what 1.1.x is already doing though, generating certificates with the correct host name? I don't see how else it's working for me but 2.x is not. That's why I was interested in Rob's input as he may be able to explain what's different between the versions with respect to this issue.

[2016-03-20 08:57] pledbrook commented on #188
@cowboygneox I would help, but I need to know what the required behaviour is :smile: I favour the behaviour described in the user guide, but we need to agree on that.

[2016-03-20 15:03] cowboygneox commented on #188
@pledbrook I'll take a look and fix it.

[2016-03-20 15:06] cowboygneox commented on #189
@pledbrook I haven't sat down and done all of the research to conclude one way or another, but I don't think the original betamax used a proxy; I think it was more like VCR in that it just altered the behavior of a given client. The refactor to use an actual proxy (aka littleproxy) was part of the 2.0 initiative, and introduced its own complications, especially with Java 7/8 enforcing use of the t

[2016-03-20 15:08] cowboygneox commented on #184
@pledbrook I think we're generally in alignment. I just have to come up with an optional scheme that makes me happy, which may be the real challenge here since I prefer Scala over Java.

[2016-03-20 21:05] ysb33r commented on #184
To paraphrase @pledbrook

* If nothing is set the `READ_ONLY`
* If a default is set via `ProxyConfiguration` then that becomes the default
* If a value is set via `@betamax`, then that would override any of the previous two
* System property beats all.

I'm good with that.

I think most JVM people nowadays prefers another JVM langiage over Java :-)  Anyhow that is besides the point. I think if you

[2016-04-04 18:43] adamdecaf opened #195 "'Reconcile' mode (matching live requests to stored tape)"
We've forked betamax and came up with a new tape mode. It's called '[Reconcile](https://github.com/Banno/betamax#new-tape-mode-reconcile)' to be able to run the live requests but then match against the tape and fail only when the new response doesn't match up with the stored response. It's a bit easier to use day-to-day than to re-build the entire tape nightly or not.

We have a [diff of all of ou

[2016-04-04 19:12] cowboygneox commented on #195
@adamdecaf Small world, man. Do you mind making a pull request?

[2016-04-16 16:53] cowboygneox commented on #195
@adamdecaf I'm pretty sure that your fork has diverged quite a bit from master. It appears that most of your work has been against the 1.1.2 branch, not the 2.0. Perhaps we should come up with a plan to get 'Reconcile' working on the 2.0 master?

[2016-04-18 15:01] cowboygneox opened #198 "Allow multiple tapes for a single test"
To enable appropriate tape reuse, it should be possible to provide multiple tapes to a single test.

When matching for a response, it will traverse the tapes in order and return the first appropriate match found.

[2016-04-18 18:43] adamdecaf commented on #195
Yea. We can see how that will look. I need to read over the 2.0 source to get a better idea

[2016-04-22 14:21] mirelon opened #199 "Allow recording "application/x-www-form-urlencoded" as text"
Currently is does not match in this method: https://github.com/betamaxteam/betamax/blob/master/betamax-core/src/main/java/software/betamax/tape/MemoryTape.java#L290

I have tested `message.getBodyAsText()` and it gives correct string -- name/value pairs are separated by the ampersand (&)

There is a nice explanation about form data content types here: http://stackoverflow.com/a/4073451/1878731

[2016-04-22 14:28] mirelon commented on #199
Next week I will try to make a pull request

[2016-05-05 17:43] jamesnetherton opened #201 "ConfigurationBuilder cannot handle vfs URI scheme"
I've been trying out betamax-junit 2.0.0-alpha-1 with [WildFly](http://wildfly.org) and [Arquillian](http://arquillian.org/). If the betamax.properties file is added to a WAR containing unit tests that are executed within the WildFly container. I get:

[code]

The problem line in ConfigurationBuilder is:

`properties.load(Files.newReader(new File(propertiesFile.toURI()), Charsets.UTF_8));`

When t

[2016-05-21 13:14] faucct opened #203 "The body binary data is corrupted."
Hello, I am trying to stub the http request from a scalaj-http client by using your gem and betamax can't read the tapes it generates. Here is an example tape content:
[code]

[2016-05-21 16:23] cowboygneox commented on #203
I actually have some time to give to this project next week, and so I'll look into it ASAP.

[2016-05-21 16:32] faucct commented on #203
Thanks a lot. I am going to try reproducing and localizing the problem in the source code, but could you at least tell if this body has the right format?

[2016-05-21 16:33] cowboygneox commented on #203
@faucct It looks right to me. You're using the 2.0.0?

[2016-05-21 16:34] faucct commented on #203
Yes.
[code]

[2016-05-21 16:35] cowboygneox commented on #203
Looks right to me. How about I dig into it on Monday?

[2016-05-21 16:35] faucct commented on #203
That would be great. Thanks again.

[2016-05-21 16:35] cowboygneox commented on #203
Also, any exception stacks you can put in here would help.

[2016-05-21 16:38] faucct commented on #203
I guess I have not explained the problem entirely: the first test run is going okay, but when I run it the second time with saved tape file I get no errors from betamax, but the response body is totally messed up.
[code]

[2016-05-21 16:39] cowboygneox commented on #203
Is it double encoding? Perhaps overwriting the tape when it shouldn't?

[2016-05-21 16:41] faucct commented on #203
I don't know yet, can you try decoding the tape and see if the problem is in dumping or restoring?

[2016-05-21 16:41] cowboygneox commented on #203
I'll look Monday. Thanks!

[2016-05-24 01:39] #201 closed

[2016-05-24 01:59] cowboygneox commented on #203
@faucct The issue here is certainly due to the gzip encoding. I'm still looking into our options.

[2016-05-24 02:42] cowboygneox commented on #203
@faucct Ok, I figured out the issue. Apparently when writing the tape, we only consider the `Content-Type`, not the `Content-Encoding`, which essentially means we're taking a GZIP'd payload and saving it as a UTF-8 payload, which is obviously not right. Then, to complicate things, we're applying a GzipEncoder on the payload as it goes back out.

Basically, it looks like at one time we would remove

[2016-05-24 02:58] cowboygneox commented on #203
FYI, here's what the tape looks like when it's saved with the gzip removed:

[code]

[2016-05-24 03:00] cowboygneox commented on #203
With the tape that way, I would say editing it is out of the question. In the future, I would like to write responses to a different, non-yaml file that can be edited, so that JSON or HTML can be edited really easy, and composing files from scratch is possible. I think for now, unless you object @faucct, I'm just going to encode the tape as gzip and not do anything clever.

[2016-05-24 06:46] faucct commented on #203
I don't think that editing a tape is a good idea: if something has changed and you need to redo the tests, it won't be enough just to remove the tape and run the tests again if the tape was modified.

[2016-05-24 07:25] faucct commented on #203
Still, your library has to have an access to the decoded body to filter sensitive data from it.

[2016-05-24 20:01] cowboygneox commented on #203
@faucct Will you please review #204? It should fix your issue.

[2016-05-25 13:09] cowboygneox commented on #203
Resolved with #204 closing.

[2016-05-25 13:09] #203 closed

[2016-06-08 22:52] filipeferreira opened #205 "ProxyConfiguration.builder().ignoreLocalhost(true)"
Hello,

Below you have the code that I used to create a recorder into a test file.

**@Shared def configuration = ProxyConfiguration.builder().ignoreLocalhost(true).build()
@Rule public RecorderRule recorder = new RecorderRule(configuration);**

After that, I wrote a test like this:

[code]

With this test, I expected that the URL localhost:8086 was ignored, but it wasn´t. Inside my tape, I have a

[2016-06-09 00:03] cowboygneox commented on #205
I'll take a look within a few days.

[2016-06-09 00:07] cowboygneox commented on #205
It looks like that directive isn't working at all anymore since the 2.0 refactor. I'll have to add some tests. I'll try to get it out in the next week.

[2016-06-09 21:02] auhlig opened #206 "query matchrule"
The current set of match rules allows only to check for string equality. This causes a problem in the uri's query when the query is semantically identical but due to a different order of the parameters the string representation is not.
For example:
```http://freeside.co/betamax?p=2&q=1```vs ```http://freeside.co/betamax?q=1&p=2```.

I follow up with a PR to address the previously described issue.

[2016-06-13 08:12] gondor commented on #206
+1 +1

[2016-06-13 12:16] cowboygneox commented on #206
#207 was merged. Closing...

[2016-06-13 12:16] #206 closed

[2016-06-17 01:43] rmahnovetsky opened #209 "Random Port"
Is there a way to make betamax use a random port?

We are using feature branches and sometimes we get a port conflict on our CI server when multiple builds run at the same time. A random port will solve this issue for us.

We have tried using betamax.proxyPort=0 as this will give a random port, but the tests did not end up using the proxy

[2016-06-17 12:04] cowboygneox commented on #209
First off, I very much appreciate you reporting confusion with Betamax, but since this is not currently a bug, I would ask that you use our Gitter in the future for asking questions.

Second, the issues you describe sound like they can be solved several ways. The most common way today is to use containers or VM's to run tests a process at a time, rather than having multiple processes at once, to a

[2016-06-17 12:04] #209 closed

[2016-06-19 15:14] cowboygneox commented on #205
@filipeferreira Will you try this again on the most recent Snapshot? I recently fixed a lot of the configuration issues and I'm hoping I fixed this one.

[2016-06-19 15:25] cowboygneox commented on #190
I'm closing this as the SSL support is now documented in the README.

[2016-06-19 15:25] #190 closed

[2016-06-19 15:26] cowboygneox commented on #189
@pledbrook Can you try this with the most recent SNAPSHOT? The instructions for configuring SSL are in the README.

[2016-06-19 15:43] #199 closed

[2016-06-20 18:03] cowboygneox opened #212 "Do we really need to specify if an endpoint is SSL or not?"
Why can't we figure that out from the URL and just point to the correct port?

[2016-08-05 06:48] helpermethod commented on #191
Thanks, that really helped :).

[2016-08-11 08:56] engeliii23 commented on #188
any updates regarding this issue?

[2016-08-13 15:14] cowboygneox commented on #188
@engeliii23 I haven't had a lot of time for Betamax as of late. Is this blocking you in some way?

[2016-09-05 15:02] cowboygneox opened #214 "Create a test that ensures that SSL is working appropriately"
An easy test that users can run to hit a secure endpoint to check the installation would be very helpful to the community.

[2016-09-06 18:11] solvingJ opened #215 "Add Support for Setting Tape Path Per-Integration Test"
In my opinion, a single shared taperoot for all tests seems to pose a few problems.  If possible / feasible, I suggest adding an annotation element for tape path that is relative to the taperoot, with an override option.  In my use case, I want the tapes organized into a subfolder structure that mimics my package/source structure.  If that seems a common enough use case, perhaps that could simply

[2016-09-07 15:12] solvingJ commented on #215
Well, I didn't think this was possible, but it works.  I've added this to my base test class and it apparently resolves to the package name of the derived class. Not nearly as messy as I thought.  If someone wants to add similar logic as a native "tape filing strategy", feel free, but this workaround is pretty elegant and works fine for me.

`    @Shared
    File tapesBaseDir = new File('src/integ

[2016-09-07 18:13] solvingJ commented on #118
Is this really still open, or just failed to close?

[2016-09-07 18:33] dkowis commented on #118
Looks like #121 is closed, so I'm gonna close this.

[2016-09-07 18:33] #118 closed

[2016-09-09 21:39] cowboygneox opened #216 "Fix GZIP support"
GZIP creates a conflict of interest in our tapes where we want the tape to be editable, but also compressed. Really, we should just remove `Content-Length` from the persisted payload and just infer it based on the tape's payload. I thought I already did this, but it's still not working, so I'll have to fix it.

[2016-09-14 18:05] solvingJ commented on #216
+! Thanks!

[2016-09-14 18:23] solvingJ opened #217 "Stale Tapes - OAuth Token Expiration - Possible Solution?"
Note: This problem seems to affect VCR as well, don't know if they ever resolved:

https://www.relaxdiego.com/2013/06/mocking-web-services-with-vcr.html

Problem:  Some (perhaps all) OAuth/OAuth2 tokens have actual "expires_on" values that some (perhaps all) HTTP clients honor.  Once this date has passed, the tape will no longer playback properly.  Clients detect that the token is expired, and req

[2016-09-22 03:43] solvingJ commented on #217
As a side note, I manually changed the "expires_on" value on one of my expired tapes, and it seemed to have no effect. I expected a different error.  Hopefully someone else can do the same test and validate my result.

[2016-09-24 07:18] thomashunziker commented on #188
Is there any update on the issue? It blocks us a bit, because we use a CI server. When the remote API is offline we are unable to create a new release.

[2016-09-24 13:57] cowboygneox commented on #188
@thomashunziker I've been struggling to find time for this project lately. However, I know that there are currently functional options for making Betamax run without access to a remote API. Could you make a separate issue?

[2016-09-24 14:04] thomashunziker commented on #188
If you point me out where I should look into I can eventually help fixing the issue.

[2016-09-24 15:30] cowboygneox commented on #188
@thomashunziker Ping me via Gitter or email.

[2016-10-12 12:14] cowboygneox commented on #217
I'll need some time to consider this issue. It initially seems difficult to MITM the OAuth information due to its many number of implementations. Normally an OAuth token generator allows the option to create an indefinite token, but I guess not always.

[2016-10-12 12:15] cowboygneox commented on #217
@solvingJ Is your application actually validating the OAuth token?

[2016-10-12 14:28] solvingJ commented on #217
I'm using the OkHTTP3 library and it seems to be automatically validates the OAuth token.

[2016-10-13 23:40] mabn commented on #191
MatchRule.headers has been removed. There is no longer a way to match on all headers using `@Betamax` annotation. The only workaround I found is to use `Configuration.defaultMatchRule` and implement own `MatchRule`.

[2016-12-05 18:18] spilth opened #218 "betamax doesn't creates tapes"
When I run my test:

- `src/test/resources/betamax/tapes` (the default tape directory) is not created
- no tapes are made.

I'm using https and have added the `betamax.pem` using `keytool`.

Here's what's in my `pom.xml`:

    <dependency>
        <groupId>software.betamax</groupId>
        <artifactId>betamax-junit</artifactId>
        <version>2.0.1</version>
        <scope>test</scope>
    </de

[2016-12-09 20:01] cowboygneox commented on #218
This is almost always an issue with Betamax not being hit by the http client. Are you positive that Betamax is correctly setup as a MITM?

[2016-12-09 20:05] cowboygneox commented on #218
I don't see the test being annotated with `@Betamax`?

[2016-12-14 00:57] babarismail opened #220 "does betamax work across machines?"
I am trying to setup betamax for our tests that run on a different machine than the service under test. I tried setting up a mock server that starts the betamax recorder on startup. Now when i redirect requests through this server, i dont see betamax playing back from the tapes nor it acknowledges that any requests are coming through.

I thought starting betamax recorder on some port (unblocked of

[2016-12-14 14:52] cowboygneox commented on #220
Betamax is not designed to work in this way, though I suppose it could be adjusted to do so. You have to ensure that your proxy settings are correctly configured to hit Betamax, and even then, the behavior is undefined. I've thought about adding this sort of route in a future version of Betamax, but I may completely diverge from Java to do that.

What is your reason for wanting to do this?

[2016-12-14 18:06] babarismail commented on #220
what would need to be configured in betamax to make it work? In the configuration, there is a property called proxyHost. What is the benefit of that if it is always going to be localhost?

I assume betamax listens on a port and matches whatever traffic responses it can. Why would there be any difference between same machine requests and cross machine requests?

I was thinking on writing a TCP port

[2016-12-14 18:10] cowboygneox commented on #220
Will you be using HTTPS?

[2016-12-14 18:11] babarismail commented on #220
yes we will be using https

[2016-12-14 18:14] babarismail commented on #220
Our https scenario works just fine but again on the same machine

[2016-12-14 18:19] cowboygneox commented on #220
So in essence you want to turn Betamax into a forward proxy? You want to use it as an actual MITM between clients and your service? Hypothetically this is possible, though I do not have a lot of advice for getting it done. I am not sure if there is any poorly implemented bindings to `localhost` that would otherwise prevent such a use.

Being that Betamax was not designed to function in this capaci

[2016-12-14 18:32] babarismail commented on #220
I was thinking about keeping the forward proxy separate from Betamax at this point but if it works then I can contribute it to betamax. The thing I don't understand is why cross machine case is different from same machine? What is betamax using that imposes this restriction?

Running betamax as a standalone project was fairly straightforward to do. We just deployed a REST service that had onStart

[2016-12-14 18:35] cowboygneox commented on #220
Betamax 1.x was originally a hack similar to that of `vcr`. In 2.x, we started moving it to a standalone attachment. It's not that there is a restriction, it just wasn't designed for your use.

[2016-12-15 23:34] ayuk23 opened #221 "NullPointerException when trying to write to tape."
My pom includes this dependency:
[code]

and my tests has the following lines of code:
[code]
(Note I'm using the Configuration class instead of ProxyConfiguration because there doesn't seem to be a ProxyConfiguration class like in the example like in the examples in this repo)

From the console output, the ProxyServer clearly starts and intercepts my request because I get this warning:
 `Dec 15,

[2016-12-16 14:20] cowboygneox commented on #221
Doesn't look like you're missing something obvious. Are you using https at all?

[2016-12-16 16:41] ayuk23 commented on #221
@cowboygneox Yes it is definitely making http calls in my test method.

[2016-12-16 16:46] quiqua commented on #218
I am kinda stuck at the same point:

[code]
I can see in the logs that the proxy gets started and the folder is created, but no file will be recorded.

Are there any more hints regarding the interaction with a `HTTPClient` and `Betamax`?

[2016-12-16 16:54] cowboygneox commented on #221
http or https? SSL?

[2016-12-16 16:55] cowboygneox commented on #218
I'm not sure what happens if you don't name the tape. Can you try naming it?

[2016-12-16 16:58] ayuk23 commented on #221
http

[2016-12-16 17:00] quiqua commented on #218
`@Betamax(tape = "myFirstRecord")` doesn't change it. It should get the use the method name, if no name is defined: https://github.com/betamaxteam/betamax/blob/master/betamax-junit/src/main/java/software/betamax/junit/RecorderRule.java#L59-L61

What about: https://github.com/betamaxteam/betamax/blob/master/betamax-junit/src/main/java/software/betamax/junit/Betamax.java#L33-L35? (Just some wild gue

[2016-12-16 17:33] cowboygneox commented on #218
@quiqua It's most likely that your http client needs to be specifically configured to use a proxy. Some clients use the JVM's configured proxy, but many don't. Can you try manually configuring the client to point at localhost on Betamax's port and see if that resolves the issue?

[2016-12-16 18:04] cowboygneox commented on #221
What http client?

[2016-12-16 18:04] cowboygneox commented on #221
Are you sure that your http client is correctly proxying to Betamax?

[2016-12-16 18:22] ayuk23 commented on #221
[code]

How can I check that it is correctly proxying? I first get `software.betamax.handler.NonWritableTapeException: Tape is not writable` then my program disconnects the proxy to server connection and I get a SocketTimeoutException and then finally a NullPOinterException. If it is the case where I am not correctly proxying to Betamax, how could I fix this? I thought all that was required was to

[2016-12-16 18:25] cowboygneox commented on #221
If you're getting non-writeable tape, that's a good thing, because it means the tape isn't writeable :).

You have to change the TAPE_MODE in the `@Betamax` notation. You only rarely want to commit a test with writeable tests; usually you want to write once, and then fix the test to stop writing. Try changing the TAPE_MODE.

[2016-12-16 18:26] cowboygneox commented on #218
Related to #221, be sure you're setting the `TAPE_MODE` to `READ_WRITE` in `@Betamax`.

[2016-12-16 18:31] ayuk23 commented on #221
Awesome. That definitely worked! Just a heads up though, the documentation at http://betamax.software says that READ_WRITE is the default tape mode, but it doesn't seem like this is the case since not setting mode=TapeMode.READ_WRITE doesn't seem to work.

Thanks again for your help!

[2016-12-16 18:34] cowboygneox commented on #221
That documentation is super old now, but I'll leave this open until I make an actionable item on how to make that more intuitive. I thought about just having `local.properties` that allow developers to write to it, but then CI won't. I'll probably move in a direction like that.

[2016-12-16 18:53] babarismail commented on #220
So here is how i got it to work:
I wrote a simple forwarding proxy program that forwards the traffic from one port to the one betmax is running on. The program consists of spinning up 2 threads: the first one reads data from the client and writes it to the betamax connection. the second threads does just the opposite: reads from betamax's stream and writes it back to the client. works for both htt

[2016-12-16 18:58] babarismail opened #222 "can we modify outgoing responses dynamically?"
Say a test sends a different id to the server every time. I can write a custom matching rule that will ignore that id to match the response, but is there a way to update that id in the mocked response or will it always return exactly what's in the yaml?

[2016-12-16 20:14] cowboygneox commented on #220
@babarismail is there potential to put this on a branch somewhere I can see it?

[2016-12-16 20:14] cowboygneox commented on #220
I'd like to leave this open until I create an action item from it.

[2016-12-16 20:16] cowboygneox commented on #222
Replaying tapes is a static process. However, I would consider a feature request to make some parameters variable, perhaps through environment variables or some templating scheme. Thoughts?

[2016-12-16 20:34] babarismail commented on #220
This is a good example: http://examples.oreilly.com/jenut/ProxyServer.java

I wrote something similar but with some of our infra related housekeeping. I then start betamax recorder before serverSocket.accept(). I can try to create a personal github repo for you to see if you want to see exactly what i did. Otherwise this is a very good starting point

[2016-12-19 10:08] quiqua commented on #218
@cowboygneox Thanks for your input.

When using `org.apache.http.client.HttpClient` one has to set the proxy via the builder explicitly or specify to use _SystemProperties_:

[code]

[2016-12-19 16:02] jturolla commented on #157
any updates?

[2016-12-19 16:26] cowboygneox commented on #157
@jturolla 2.0.1 is out, and hopefully will work with Android. However, I am not an Android developer, so I cannot verify. Would you mind trying?

[2016-12-19 16:28] cowboygneox commented on #218
@quiqua did that solve your problem? Presumably, `useSystemProperties()` should work with Betamax.

[2016-12-19 16:30] quiqua commented on #218
Yes, both options listed there work.

[2016-12-19 16:32] cowboygneox commented on #218
@spilth Can we close this? I will be sure to improve this confusion in the documentation that I need to do (because it's way overdue and I'm slacking).

[2016-12-19 16:37] spilth commented on #218
@cowboygneox Sure. I haven't gotten a chance to try it myself but it sounds like it's working for @quiqua . Ultimately I'd like to help out with the documentation piece of this but I've only gotten as far as Forking the betamax website project 😬

@quiqua Can you share your full working code?

[2016-12-19 16:40] cowboygneox commented on #218
@spilth I would love help, but we have to start from scratch. The existing docs for 1.x are very different than what's required for 2.x. Let me know if you want to coordinate.

[2016-12-19 16:41] spilth commented on #218
@cowboygneox Perhaps I'll start with a tutorial on my own site and you can lift what you'd like from there. I'm shooting for a straightforward, getting up and running with Maven type tutorial that shows the simplest way to use Betamax.

[2016-12-19 16:43] cowboygneox commented on #218
Perfect. I really appreciate the help!

[2016-12-19 16:45] quiqua commented on #218
@spilth

[code]

If the latter is used, `-Dhttp.proxyHost=0.0.0.0 -Dhttp.proxyPort=5555` must be passed to the JVM.

[2016-12-22 19:17] babarismail commented on #222
I have a code change that is based upon the MatchingRule concept. I added an interface called ModifyRule that gets setup just like a matching rule in the config. Before the response is returned, the modify rule is applied on the outgoing response.
I really like this concept since it gives freedom to the framework user to write any modification logic as opposed to following a given template.

[2016-12-23 12:38] cowboygneox commented on #222
@babarismail I look forward to seeing the patch. It sounds awesome!

[2016-12-25 20:20] #218 closed

[2016-12-25 20:42] spilth commented on #218
In my attempt to come up with the minimal example, here's what I came up with:

- https://github.com/spilth/betamax-example/blob/master/src/test/java/spilth/org/AddressFinderTest.java
- https://github.com/spilth/betamax-example/blob/master/src/main/java/spilth/org/AddressFinder.java

[2016-12-31 22:12] cowboygneox commented on #4
@robfletcher I believe that snakeyaml can handle this fine. If that's not the case, please let me know and I'll reopen this.

[2016-12-31 22:12] #4 closed

[2016-12-31 22:15] cowboygneox commented on #6
Moved this to the Trello board as a feature request. https://trello.com/c/zpunbG1B

[2016-12-31 22:15] #6 closed

[2016-12-31 22:18] cowboygneox commented on #10
@robfletcher since this is a testing framework that is largely used to ensure that developers are meeting their own assumed API, this sounds like a really bad idea to one day have the tape just die and attempt to make a new recording. I would suggest that there is an option that a Betamax test could occasionally verify that the assumed contract is still true by reacquiring the data and comparing t

[2016-12-31 22:18] #10 closed

[2016-12-31 22:25] cowboygneox commented on #14
Moving to Trello: https://trello.com/c/qlor2w70

[2016-12-31 22:25] #14 closed

[2017-01-01 17:59] cowboygneox commented on #29
Since 2.x, I'm pretty sure this is not an issue. Closing...

[2017-01-01 17:59] #29 closed

[2017-01-01 18:00] cowboygneox commented on #30
Moved to Trello: https://trello.com/c/PiEAP9rE.

[2017-01-01 18:00] #30 closed

[2017-01-01 18:02] cowboygneox commented on #33
Moved to Trello: https://trello.com/c/ek2a5aXi

[2017-01-01 18:02] #33 closed

[2017-01-01 18:04] cowboygneox commented on #41
I don't think this is an issue on 2.x. Closing...

[2017-01-01 18:04] #41 closed

[2017-01-01 18:05] cowboygneox commented on #58
Moved to Trello: https://trello.com/c/ORCvNjyN

[2017-01-01 18:05] #58 closed

[2017-01-01 18:06] cowboygneox commented on #71
Moved to Trello: https://trello.com/c/GGBtvEAv

[2017-01-01 18:06] #71 closed

[2017-01-01 18:07] cowboygneox commented on #77
I apologize, but we are no longer supporting Betamax 1.x. Closing...

[2017-01-01 18:07] #77 closed

[2017-01-01 18:07] cowboygneox commented on #79
Closing this due to inactivity. Please reopen if 2.x has a similar problem.

[2017-01-01 18:07] #79 closed

[2017-01-01 18:08] cowboygneox commented on #81
Moved to Trello: https://trello.com/c/GGBtvEAv

[2017-01-01 18:08] #81 closed

[2017-01-01 18:09] cowboygneox commented on #82
I don't think this is an issue on 2.x. Closing...

[2017-01-01 18:09] #82 closed

[2017-01-01 18:09] cowboygneox commented on #86
I tried to do this, got irritated, and went Sonatype instead. That's what I'll use going forward.

[2017-01-01 18:09] #86 closed

[2017-01-01 18:10] cowboygneox commented on #88
I'll add this as a consideration to the documentation story on Trello: https://trello.com/c/9jdBEGaR

[2017-01-01 18:10] #88 closed

[2017-01-01 18:11] cowboygneox commented on #89
Moving to Trello: https://trello.com/c/MEwtr6m2

[2017-01-01 18:11] #89 closed

[2017-01-01 18:14] cowboygneox commented on #91
I disagree with this. If we have *some* resources that are not consistent with the snapshot of others, it can and will create a timebomb that will ultimately blow up in the developers face in the future. Please feel free to reopen this if you would like to discuss further.

[2017-01-01 18:14] #91 closed

[2017-01-01 18:15] cowboygneox commented on #95
I hope that you eventually got this working. Since we no longer support 1.x, I'm closing this. Please file another issue if you are still having problems with 2.x.

[2017-01-01 18:15] #95 closed

[2017-01-01 18:15] cowboygneox commented on #96
This was filed against 1.x and I doubt it's still an issue with 2.x. Closing...

[2017-01-01 18:15] #96 closed

[2017-01-01 18:16] cowboygneox commented on #101
Moved to Trello: https://trello.com/c/ORCvNjyN

[2017-01-01 18:16] #101 closed

[2017-01-01 18:17] cowboygneox commented on #105
Moved to Trello: https://trello.com/c/qyTUkX75

[2017-01-01 18:17] #105 closed

[2017-01-02 18:24] cowboygneox commented on #123
Closing because we deployed 2.X. Sorry for the late closing...

[2017-01-02 18:24] #123 closed

[2017-01-02 18:25] cowboygneox commented on #155
This is on Trello: https://trello.com/c/MEwtr6m2. Closing...

[2017-01-02 18:25] #155 closed

[2017-01-02 18:27] cowboygneox commented on #156
Closing due to lack of response. However, I don't like using Guava anyway because of these conflicts, so I have made the following Trello card to address that: https://trello.com/c/laK1tfDO.

[2017-01-02 18:27] #156 closed

[2017-01-02 18:29] cowboygneox commented on #124
I don't think this is an issue in 2.x. Closing...

[2017-01-02 18:29] #124 closed

[2017-01-02 18:30] cowboygneox commented on #128
Managing this enhancement on Trello: https://trello.com/c/qlor2w70.

[2017-01-02 18:30] #128 closed

[2017-01-02 18:31] cowboygneox commented on #134
Closing this due to lack of activity and because we don't support 1.x anymore. Please create a new ticket if 2.x is causing issues.

[2017-01-02 18:31] #134 closed

[2017-01-02 18:31] cowboygneox commented on #132
Closing due to lack of activity. Please create a new ticket if you're still having issues or have questions.

[2017-01-02 18:31] #132 closed

[2017-01-02 18:32] cowboygneox commented on #135
I'm pretty sure I've fixed this. Closing...

[2017-01-02 18:32] #135 closed

[2017-01-02 18:33] cowboygneox commented on #136
Closing because we no longer support 1.x. Please let me know if 2.x does not meet your needs.

[2017-01-02 18:33] #136 closed

[2017-01-02 18:35] cowboygneox commented on #140
Moving to Trello: https://trello.com/c/ToNAuzwv

[2017-01-02 18:35] #140 closed

[2017-01-02 18:36] cowboygneox commented on #216
Moving this to Trello: https://trello.com/c/qlor2w70.

[2017-01-02 18:36] #216 closed

[2017-01-02 18:36] cowboygneox commented on #152
I think I fixed this in 2.x. Please take it for a spin and let me know.

[2017-01-02 18:36] #152 closed

[2017-01-02 18:38] cowboygneox commented on #154
Moved to Trello: https://trello.com/c/WR8IH4bR

[2017-01-02 18:38] #154 closed

[2017-01-02 18:39] cowboygneox commented on #222
Moved to Trello: https://trello.com/c/WR8IH4bR

[2017-01-02 18:39] #222 closed

[2017-01-02 18:40] cowboygneox commented on #157
Closing due to inactivity. I see no reason that Betamax can't work with Android. Hopefully someone in the future will point out an issue if it arises.

[2017-01-02 18:40] #157 closed

[2017-01-02 18:40] cowboygneox commented on #173
Moving to Trello: https://trello.com/c/WR8IH4bR

[2017-01-02 18:40] #173 closed

[2017-01-02 18:42] cowboygneox commented on #183
Moved to Trello: https://trello.com/c/C8nsdJIx.

[2017-01-02 18:42] #183 closed

[2017-01-02 18:43] cowboygneox commented on #177
Delays are covered in #183 and https://trello.com/c/C8nsdJIx. Connection faults can happen with Betamax off or by tweaking the (future) delay to be something absurd.

[2017-01-02 18:43] #177 closed

[2017-01-02 18:45] cowboygneox commented on #182
Moved to Trello: https://trello.com/c/Q3EDxiv2.

[2017-01-02 18:45] #182 closed

[2017-01-02 18:46] cowboygneox commented on #184
Moving this into Trello: https://trello.com/c/qyTUkX75.

[2017-01-02 18:46] #184 closed

[2017-01-02 18:47] cowboygneox commented on #221
Moving this to our Documentation Trello Card: https://trello.com/c/9jdBEGaR

[2017-01-02 18:47] #221 closed

[2017-01-02 18:49] cowboygneox commented on #220
Moving this to Trello: https://trello.com/c/MEwtr6m2.

[2017-01-02 18:49] #220 closed

[2017-01-02 18:50] cowboygneox commented on #187
Moved to Trello: https://trello.com/c/G2sxdRVh.

[2017-01-02 18:50] #187 closed

[2017-01-02 18:51] cowboygneox commented on #191
Moved this to our Documentation Trello Card: https://trello.com/c/9jdBEGaR

[2017-01-02 18:51] #191 closed

[2017-01-02 18:51] cowboygneox commented on #215
Moving this to Trello: https://trello.com/c/ZMJ5U6Xd

[2017-01-02 18:51] #215 closed

[2017-01-02 18:54] cowboygneox commented on #195
Moving this to Trello: https://trello.com/c/MEwtr6m2.

[2017-01-02 18:54] #195 closed

[2017-01-02 18:56] cowboygneox commented on #188
Moving to Trello: https://trello.com/c/qyTUkX75.

[2017-01-02 18:56] #188 closed

[2017-01-02 18:56] cowboygneox commented on #189
Closing due to lack of activity. SSL support is working within the project. Hopefully it's enough as is...

[2017-01-02 18:56] #189 closed

[2017-01-02 18:57] cowboygneox commented on #198
Moving to Trello: https://trello.com/c/ZMJ5U6Xd.

[2017-01-02 18:57] #198 closed

[2017-01-02 18:57] cowboygneox commented on #205
Closing due to lack of activity...

[2017-01-02 18:57] #205 closed

[2017-01-02 18:58] cowboygneox commented on #194
Moved to Trello: https://trello.com/c/ToNAuzwv.

[2017-01-02 18:58] #194 closed

[2017-01-02 18:59] cowboygneox commented on #212
Moved to Trello: https://trello.com/c/ZIMeVg5G.

[2017-01-02 18:59] #212 closed

[2017-01-02 19:00] cowboygneox commented on #214
Sent to Trello: https://trello.com/c/ZFl2KhSv.

[2017-01-02 19:00] #214 closed

[2017-01-02 19:01] cowboygneox commented on #217
Combining this with our ability to filter tapes request: https://trello.com/c/WR8IH4bR.

[2017-01-02 19:01] #217 closed

[2017-01-02 19:03] cowboygneox commented on #108
Moving to Trello: https://trello.com/c/6ZS327rf.

[2017-01-02 19:03] #108 closed

[2017-01-02 19:03] cowboygneox commented on #35
Moving to Trello: https://trello.com/c/WR8IH4bR.

[2017-01-02 19:03] #35 closed

[2017-01-03 16:51] cowboygneox opened #224 "SSL support not working (likely due to SecureRandom)"
I'm looking into this, but following my own instructions, I can't get SSL support to work on my Mac. I'm not sure what changed or how it broke. I do know that SSL works just fine if you use the Docker image.

*Work Around:* Use the Docker image for testing.

[2017-01-03 16:55] quiqua commented on #224
Worked for me on my Mac:

[code]

Related: http://stackoverflow.com/questions/6588390/where-is-java-home-on-osx-sierra-10-12-el-captain-10-11-yosemite-10-10

[2017-01-03 16:56] cowboygneox commented on #224
@quiqua SDK version?

[2017-01-03 16:56] cowboygneox commented on #224
Mine:

[code]

[2017-01-03 16:58] quiqua commented on #224
[code]

Installed via `brew cask`, but didn't upgrade recently.
`/usr/local/Caskroom/java/1.8.0_102-b14 (227.5M)`

[2017-01-03 16:59] cowboygneox commented on #224
Actually, once I actually installed the cert into `8u112`, it worked. However, I still can't get `8u111` to work...probably why `8u112` exists...

[2017-01-03 17:01] cowboygneox commented on #224
Of all of the problems I've had in my life, `SecureRandom` appears to be the worst, and I've broken my knee and had two surgeries on it.

[2017-01-03 17:03] cowboygneox commented on #224
If you look in the logs of the latest failed Travis build, you see a lot of this:

[code]

That's likely the issue I'm running into locally.

[2017-01-03 17:07] cowboygneox commented on #224
My `8u111` is now working as well. I'm increasingly confident it's a `SecureRandom` issue.

[2017-01-03 17:27] cowboygneox commented on #224
I'm going to explore this a bit more, but based on the [release notes for JDK 8u112](http://www.oracle.com/technetwork/java/javase/8u112-relnotes-3124973.html), I think I'm going to make the recommended JDK for Betamax to be `8u112`.

[2017-01-03 17:36] cowboygneox commented on #224
I'm also probably going to suggest this change: https://docs.oracle.com/cd/E13209_01/wlcp/wlss30/configwlss/jvmrand.html.

[2017-01-03 19:15] cowboygneox commented on #224
Resolved by #225.

[2017-01-03 19:15] #224 closed

[2017-01-14 17:57] cowboygneox opened #229 "Remove the need to enable SSL mode"

[2017-01-16 14:50] arudge commented on #229
This is in progress.....

[2017-01-25 12:55] nilskuhn opened #232 "TapeMode doesn't have any effect"
Seems so that TapeMode doesn't have any effect in version 2 :(

Whether we set `software.betamax.TapeMode.READ_WRITE` as default via `software.betamax.Configuration.builder().defaultMode(TapeMode.READ_WRITE)` or per test via annotation `@Betamax(tape="no_steps_devServer01_160810_A7_4D", mode=TapeMode.READ_WRITE)`: The tests ignore existing tapes and request the resource with each test execution.

[2017-01-25 13:15] cowboygneox commented on #232
I'm pretty sure that I have many tests that assert that `@Betamax` uses the TapeMode. It's a known issue that the configuration builder doesn't respect it. Can you check again?

[2017-02-03 16:33] leonard84 opened #233 "Add SSL Stripping as an alternative to SSL MITM"
Although Betamax supports SSL MITM there are certain drawbacks:
- You need to install the Betamax RootCa in your `cacerts` on all Machines that run your tests
- SSL Tests can't run offline since even if there are recordings available, the MITM Proxy still tries to connect to the real server for the SSL Certificate

SSL Stripping would solve those issues, the system under test would talk plain HTTP

[2017-02-03 16:42] leonard84 opened #234 "Add offline Mode"
If a request comes in which does not have a matching record in the current tape Betamax will talk to the real server, and subsequently fail (if the tape mode does not permit writing, e.g. `READ_ONLY`, `READ_SEQUENTIAL`).

IMHO it would be good to have an offline mode where Betamax is guaranteed not to talk to the real server but to fail immediately. The question is if this should be via a `TapeMod

[2017-02-07 18:32] leonard84 commented on #232
@nilskuhn what happens if you set it to `TapeMode.READ_ONLY` does it work then, or does it say that it can't find the correct recording/fail with tape is not writeable? My guess would be that the request do not match, you might need to change the `matchRules` the default is `MatchRules.method, MatchRules.uri` however you seem to want to compare the query too.

Does it work in `WptDetailDataDefault

[2017-02-08 12:57] leonard84 opened #235 "Bring back external responses"
With 106eb93c11af4a24e91882081a8cd1bd646d4ce6 (https://trello.com/c/UJGIt8j2/28-remove-tika-from-dependencies) the support for external responses was removed. This is quite unfortunate, since we really want this functionality. Tapes become very hard to work with, if the body becomes larger than a certain size (>1000 chars), and in a larger integration test with ~30 interactions and a total size.

[2017-02-08 22:50] nilskuhn commented on #232
Thanks for the hints. I'll give it a try asap.

[2017-02-23 17:46] felipecsl opened #240 "OkHttp support"
[OkHttp](https://github.com/square/okhttp) is a very popular http client, especially on Android.
I'd like to use Betamax to record/replay network interactions that go through OkHttp for integration tests that run on an Android device or emulator so they are more consistent and repeatable.
I understand that Betamax as is doesn't work with OkHttp so I've forked Betamax and started working on the cha

[2017-02-23 18:01] quiqua commented on #240
I'd love to see that in Betamax, I started using OkHttp + Betamax quite recently as well, recording tapes in alright, but you ran into issues when you need to play back a recorded body.
So your solutions sounds nice :)

[2017-02-23 18:06] felipecsl commented on #240
I have the work underway in a branch, working on fixing the failing unit tests now (thanks a lot for writing them 😄 ), will share when I have it in a working state

[2017-03-08 17:15] iamkookz commented on #234
Totally agree with offline mode, I want to test using tape in the machine that dont have connection to webservice. Is that possible???

[2017-03-09 23:24] felipecsl commented on #240
The code is now (temporarily) lives here https://github.com/felipecsl/walkman
It's currently alpha stability but feel free to use and send feedback 😃

[2017-03-21 10:39] nilskuhn opened #241 "Docs for version 2.x"
Hi,
I saw the [trello card](https://trello.com/b/h38RAFcm/betamax). But it is possible to have some base examples for the usage of version 2 somewhere?
I am using betamax with groovy's HTTPBuilder, resp. RESTClient. A simple example for our tests with betamax version 1 is [this test](https://github.com/iteratec/OpenSpeedMonitor/blob/master/src/test/groovy/de/iteratec/osm/report/external/GraphiteEv

[2017-03-23 01:20] jessestuart commented on #158
@cowboygneox Hey there! Unless I'm missing something, it seems there's still no (relatively easy) way to implement custom instances of `MatchRule`, since (as @mmazi points out) the `match` property of `@Betamax` is of type `MatchRules[]`, as reflected [on master](https://github.com/betamaxteam/betamax/blob/master/betamax-junit/src/main/java/software/betamax/junit/Betamax.java).

Thoughts?

[2017-05-21 13:53] thiagomarinho opened #245 "Tape root dir when using betamax with arquillian"
Hey :)

I was creating some integration tests with betamax and arquillian and I realized that betamax tries to get Tape files from filesystem, but those dataset files should be available within arquillian's deployment packages (I guess).

To achieve what I wanted to do, I made a setup method that creates a folder on `/tmp/blablabla` and copies all the tape files to that folder. `tapeRoot` is then

[2017-06-22 00:21] felipecsl commented on #240
Ok this has been officially open sourced as https://github.com/airbnb/okreplay

[2017-06-22 00:21] #240 closed

[2017-08-29 13:44] nilskuhn commented on #232
We removed betamax from the project because it was easier for us to mock our service call making the http request without a capture/replay library. So I can't test that anymore.
Shame on me that I didn't response since february :(

[2017-08-29 13:44] #232 closed

[2017-11-17 20:08] giacgbj opened #246 "JUnit 5 compatibility"
Will JUnit 5 be supported?

[2017-11-23 17:57] relaxdiego commented on #217
Sorry for reviving this old issue but thought I'd share how I get around to time-sensitive tapes in case it helps: I use TimeCop to "reverse" the time to the date and time that the cassette was recorded on. This happens automatically at test time by having my test infrastructure inspect the creation date of the cassette, call TimeCop to reverse the time, then bring the time Back to The Future (heh

[2018-01-16 18:38] joshuamil opened #247 "Website Points to Missing Project"
Website (http://betamax.software/#examples) points to an example Grails implementation that no longer exists (https://github.com/betamaxteam/betamax/tree/master/examples/grails-betamax). There should be a pointer here in the repository that notes that this example is deprecated, or the website should be updated to just land on the /examples page instead.

[2018-02-13 07:09] bkhl opened #248 "Store additional data in cassettes"
I've got a test for creating a new resource, requiring the test to provide an ID. This ID can't be in the system already. If I didn't want to use Betamax, I'd just use `uuid` and be done with it.

Right now I have the test try a sequence of numbers until it finds a free one (i.e. hits a 404). This whole sequence is then stored in the cassette and reused, so that effectively this unique ID is store

[2018-02-14 20:46] livin opened #249 "Update to littleproxy >= 1.1.2 to fix multiple (SSL) issues"
Currently betamax depends on littleproxy-1.1.0-beta2.

Unfortunately this version doesn't include multiple fixes which was done in 1.1.0, 1.1.1 and 1.1.2.

Please take a look at release notes.
https://github.com/adamfisk/LittleProxy/releases

Currently I am can't use betamax due to one of the issue which is SNI issue.

I tried to replace littleproxy-1.1.0-beta2 with littleproxy-1.1.2 setup - but i

[2018-03-19 11:50] mustafarian opened #250 "Reading tapes that contain binary responses"
I encountered an issue where by my test hangs in betamax trying to play a tape that contains binary responses. The tape is originally recorded by betamax. So there's to be an issue dealing with binary data.

Unfortunately, I can't share here the tape that demonstrates this issue because it contains some private data. I will try to create a tape that shows the issue and attach it.

[2018-10-28 04:28] bkhl commented on #248
Closing, accidentally raised in this project, but it's about the Python library of the same name.

[2018-10-28 04:28] #248 closed, assigned to nobody